<div class="c-dropdown" data-dropdown="biomeFilter">
  <span class="dropdown-label"><%= filters.name %></span>
  <span class="js-dropdown-title dropdown-title">
      -
    </span>
  <ul class="js-dropdown-list dropdown-list">
    <li class="js-dropdown-item dropdown-item" data-value="none">All</li>
    <% filters.nodes.forEach(function(node) { %>
    <li class="js-dropdown-item dropdown-item"
        data-value="<%= node.name %>"><%= _.capitalize(node.name) %></li>
    <% }) %>
  </ul>
</div>
