<div class="c-dropdown -small" data-dropdown="resize-by">
  <span class="dropdown-label">
    Resize
    <svg class="icon tooltip-icon js-tooltip" data-tooltip-text="<%= tooltips.sankey.nav.resizeBy.main %>" data-tooltip-position="top right">
      <use xlink:href="#icon-layer-info"></use>
    </svg>
  </span>
  <span class="js-dropdown-title dropdown-title -small">
    -
  </span>

  <ul class="js-dropdown-list dropdown-list -right">
    <% if (resizeBy) { %>
    <% resizeBy.forEach(function(resizeByVar, index) { %>
    <% if (index > 0 && resizeBy[index - 1].groupNumber !== resizeByVar.groupNumber) { %>
    <li class="js-dropdown-item dropdown-item -separator"></li>
    <% } %>
    <li class="js-dropdown-item dropdown-item" <%= resizeByVar.isDisabled ? '' : 'data-value="' + resizeByVar.name + '"' %>>
      <%= _.capitalize(resizeByVar.label) %>
      <% if (resizeByVar.name && tooltips.sankey.nav.resizeBy[resizeByVar.name]) { %>
        <svg class="icon tooltip-icon js-tooltip" data-tooltip-text="<%= tooltips.sankey.nav.resizeBy[resizeByVar.name] %>" data-tooltip-position="top right">
          <use xlink:href="#icon-layer-info"></use>
        </svg>
      <% } %>
    </li>
    <% }) %>
    <% } %>
  </ul>
</div>
