@import '../../settings';

.c-chord {

  > svg {

    .links {
      fill: rgba($medium-pink, .2);
    }

    .text-legend {
      font-family: $font-family-1;
      font-size: $font-size-regular;
      text-transform: uppercase;
      letter-spacing: -0.8px;
      fill: rgba($charcoal-grey, .8);
    }
  }
}
