@import '../../settings';

.c-scatterplot {

  path {
    stroke: none;
    fill: none;
  }

  .axis {

    line {
      fill: none;
      stroke: $charcoal-grey;
      stroke-opacity: .1;
    }

    text {
      font-family: $font-family-1;
      font-size: $font-size-x-regular;
      line-height: 0.92;
      letter-spacing: -1px;
      fill: rgba($charcoal-grey, .6);
    }

    &.axis--x path {
      stroke: $charcoal-grey;
      stroke-width: 2px;
    }
  }

  .dot {
    stroke: #000;
  }

  .c-scatterplot-switcher {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 40px;
    width: 100%;

    li {
      flex: 1 100%;
      font-family: $font-family-1;
      font-size: $font-size-x-regular;
      font-weight: bold;
      line-height: 1.23;
      letter-spacing: -0.6px;
      color: rgba($charcoal-grey, .3);
      text-transform: uppercase;
      cursor: pointer;

      span {
        position: relative;
      }

      &.selected {
        color: $charcoal-grey;

        & span:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -1px;
          width: 100%;
          height: 2px;
          background-color: $medium-pink;
        }

        & span:after {
          content: attr(data-unit);
          font-weight: normal;
          letter-spacing: -1.3px;
          text-transform: none;
          color: rgba($charcoal-grey, .5);
          margin-left: 2px;
        }
      }
    }
  }
}
