body {
  color: green;
  font-family: sans-serif;
}

svg {
  width: 6500px;
  height: 1200px;
}

.sankey {
  transform: translate(350px,0);
}

.sankey-nodes {

}

.sankey-node-rect {
  fill: none;
  stroke: black;
  stroke-width: .5px;
}

.sankey-node-label {
  font-size: 10px;
  text-transform: capitalize;
}

.sankey-links {

}

.sankey-link {
  opacity: .2;
  fill: none;
  stroke: red;
}

.maps-country-mask-rect {
  width: 350px;
  height: 1200px;
}

.maps-country-border {
  fill: #fff;
  stroke: #ccc;
}

.maps-country-state {
  stroke: red;
  fill: orange;
}
