body {
  color: green;
  font-family: sans-serif;
  overflow-y: hidden;
}

svg {
  width: 2000px;
  height: 1200px;
}

.sankey {
  transform: translate(350px,0);
}

.sankey-nodes {

}

.sankey-node-rect {
  fill: white;
  stroke: black;
  stroke-width: .5px;
}

.sankey-node-label {
  font-size: 12px;
  text-anchor: middle;
  text-transform: capitalize;
}

.sankey-link {
  fill: none;
}

.sankey-clicked-links .sankey-link {
  stroke: blue;
  opacity: .5;

}
.sankey-hover-links .sankey-link {
  opacity: 0.2;
  stroke: red;
}
.sankey-state-links .sankey-link {
  opacity: 0.2;
  stroke: black;
}

.maps-country-mask-rect {
  width: 350px;
  height: 1200px;
}

.maps-country {
  fill: #fff;
  stroke: #ccc;
}

.maps-state {
  stroke: red;
  fill: orange;
}
