<div class="graph-options">
  <div class="graph-selector">
    <div class="graph-mode -sankey -selected">
      <svg class="icon icon-settings"><use xlink:href="#icon-settings"></use></svg>
    </div>
    <div class="graph-mode -circle">
      <svg class="icon icon-settings"><use xlink:href="#icon-settings"></use></svg>
    </div>
  </div>
  <div class="graph-distribution">
    <span class="text-option">columns</span>
    <div class="columns">
      <div class="column -selected">2</div>
      <div class="column">3</div>
      <div class="column">4</div>
    </div>
  </div>
</div>

<div class="timeline-options">
  <span class="text-option">timeline</span>
  <div class="c-switcher"></div>
</div>
