<div class="share-view">
  <p class="share-text">share this view</p>
  <div class="url-share-container">
    <span class="url-display"></span>
    <button class="btn-clipboard-url js-clipboard-url" name="clipboard-url">copy</button>
  </div>
</div>

<div class="social-links">
  <ul class="social-link-list">
    <li class="social-item">
      <a href="mailto:someone@develop.com">
        <svg class="icon icon-bookmark">
          <use xlink:href="#icon-bookmark"></use>
        </svg>
      </a>
    </li>
    <li class="social-item">
      <button type="button" name="twitter" class="twitter">
        <svg class="icon icon-bookmark">
          <use xlink:href="#icon-bookmark"></use>
        </svg>
      </button>
    </li>
    <li class="social-item">
      <button type="button" name="facebook" class="facebook">
        <svg class="icon icon-bookmark">
          <use xlink:href="#icon-bookmark"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
