.c-homepage {
  margin-top: $nav-height;

  .introduction {
    height: 100%;

    .intro-statement {

      > .paragraph {
        margin: 17px 0;
      }
    }

    > .trase-logo {
      display: flex;
      justify-content: center;
      margin: 0 0 56px;
    }

    > .btn-explore {
      display: inline-block;
      margin: 32px 0 0;
      padding: 16px 28px;
    }


    .screenshot-container {
      position: absolute;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      left: 50%;

      .screenshot {
        height: 50%;
        width: 100%;
        background-size: cover;
        border-radius: 4px;

        &.-top {
          background-image: url('./../public/images/backgrounds/app-screenshot-1@2x.jpg');
        }

        &.-middle {
          background-image: url('./../public/images/backgrounds/app-screenshot-2@2x.jpg');
        }

        &.-bottom {
          background-image: url('./../public/images/backgrounds/app-screenshot-3@2x.jpg');
        }
      }
      .screenshot-caption {
        font-family: $font-family-1;
        color: rgba($white, 0.6);
        font-size: $font-size-medium;
        width: 100%;
      }
    }
  }

  .sliding-content {
    margin-top: 65px;

    .slider-title {
      display: flex;
      align-items: center;
      padding-bottom: 65px;
      color: rgba($charcoal-grey-faded, 0.3);
      font-family: $font-family-1;
      font-size: $font-size-x-regular;
      text-transform: uppercase;

      &::after {
        content: '';
        height: 2px;
        background-color: rgba($charcoal-grey-faded, 0.3);
        flex: 1;
        margin-left: 8px;
      }
    }
  }

  .newsletter {
    height: 160px;
    width: 100%;
    background-color: $white;

    > .newsletter-content {
      height: 100%;

      form {
        .newsletter-label {
          display: inline-block;
          margin-bottom: 10px;

          font-family: $font-family-2;
          font-size: $font-size-xx-regular;
          color: $charcoal-grey;
        }

        .newsletter-input-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 40px;

          > .newsletter-email {
            font-family: $font-family-1;
            border: solid 2px $charcoal-grey;
            border-radius: 4px;
            padding: 15px;
            width: 100%;
            max-width: 336px;
            max-height: 100%;

            &::placeholder {
              text-transform: none;
            }
          }

          > .c-button {
            height: 100%;
            margin-left: 10px;
            padding: 0 16px;
            flex: 1;
          }
        }
      }
    }
  }
}