
.c-introduction {
  max-width: $content-max-width;
  margin: 72px auto 40px;

  text-align: center;

  > .trase-logo {
    display: flex;
    justify-content: center;
    margin: 0 0 56px;
  }

  > .btn-explore {
    display: inline-block;
    margin: 32px 0 0;
    padding: 16px 28px;
  }
}
