
.c-workflow-graphic {
  width: 100%;
  margin: 42px 0;
  padding: 56px 0;

  > .supply-chain-list {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 69px;

    &::before {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% - 116px);  // 58px (width of icon) * 2
      max-width: 776px;
      transform: translate(-50%, -50%);
      border-top: 2px solid $medium-pink;

      content: '';
      z-index: $z-below;
     }

    > .supply-chain-item {
      display: flex;
      position: relative;
      flex-basis: 20%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 8px;
      z-index: $z-base;

      > .icon-supply {
        background-color: $pale-peach;
       }

      > .icon-supply-chain-1,
      > .icon-supply-chain-4,
      > .icon-supply-chain-5 {
        width: 58px;
        height: 58px;
       }

      > .icon-supply-chain-2 {
        width: 58px;
        height: 65px;
      }

      > .icon-supply-chain-3 {
        width: 61px;
        height: 62px;
      }

      > .description {
        position: absolute;
        left: 50%;
        width: 100%;
        max-width: 175px;
        transform: translate(-50%, 0);

        color: $medium-pink;
        font-family: $font-family-1;
        font-size: $font-size-xx-regular;
        letter-spacing: -1.3px;
        line-height: 1;


        &.-top {
          bottom: 72px;
          margin-bottom: 8px;
        }

        &.-bottom {
          top: 72px;
          margin-top: 8px;
        }
      }
    }
  }
}
