
.c-workflow-graphic {
  width: 100%;
  padding: 40px 0 56px;

  > .supply-chain-list {
    display: flex;
    height: 69px;

    > .supply-chain-item {
      display: flex;
      flex-basis: 20%;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      z-index: 1;

      > .description {
        color: $medium-pink;
        line-height: 1;
      }
    }
  }
}
