<div class="header">
  <h2 class="title -medium"><%= data.title %></h2>
</div>
<div class="content">
  <p class="paragraph"><%= data.description %></p>

  <button class="c-button -medium js-close">explore the supply chain</button>
</div>
