<div class="header">
  <h2 class="title -medium"><%= data.title %></h2>
</div>
<div class="content">
  <p class="paragraph"><%= data.description %></p>


  <a href="<%= data.link.url_link %>" class="c-button -medium link-to"><%= data.link.name %></a>
</div>
