@import '../../../settings';

.c-map {

  .leaflet-vectorMain-pane {
    opacity: 1;
    pointer-events: auto;

    path {
      fill: transparent;
      fill-opacity: 1;
      stroke: $charcoal-grey-toned-down;
      stroke-width: .3px;
      stroke-opacity: .5;
      pointer-events: auto;

      &.-disabled {
        cursor: not-allowed;
      }

      &.-linked {
        stroke-width: .8px;
        stroke: $charcoal-grey;
      }

      &.ch-zero { fill: $ch-zero; };

      @each $item, $color in $choropleth-colors {
        &.#{$item} {
          fill: $color;
        }
      }
    }

    &.-noDimensions {
      path.-linked {
        fill: $manilla;
      }
    }

    &.-linkedActivated {
      path:not(.-linked) {
        fill: $ch-default;
      }
    }

    &.-high-zoom {
      path {
        stroke-width: .5px;
      }

      path.-linked {
        stroke-width: 2px;
        stroke: $charcoal-grey;
      }
    }
  }

  .leaflet-vectorOutline-pane {
    pointer-events: none;

    path {
      fill: none;
      stroke-opacity: 1;

      &.-highlighted {
        stroke-width: 3px;
        stroke: $white;
      }

      &.-selected {
        stroke: $charcoal-grey;
        stroke-width: 2.5px;
      }
    }
  }
}
