@import '../../../settings';

.c-map {

  .leaflet-vectorMain-pane {
    opacity: 1;
    pointer-events: auto;

    path {
      fill: $gray;
      fill-opacity: 1;
      stroke: $charcoal-grey-toned-down;
      stroke-width: .35px;
      stroke-opacity: 1;
      pointer-events: auto;

      &.-disabled {
        cursor: not-allowed;
      }

      &.-linked {
        stroke: cyan !important;
        fill-opacity: 0 !important;
      }
    }

    &.-high-zoom path {
      stroke: $charcoal-grey;
      stroke-width: .45px;
    }
  }

  .leaflet-vectorLinked-pane {

    path {
      fill: $white;
      fill-opacity: 1;
      stroke: $charcoal-grey-toned-down;
      stroke-width: .45px;

      &.ch-no-meta { fill: $white; };
      &.ch-no-meta-layer { fill: $white; };
      &.ch-default { fill: $white; };
    }

    &.-high-zoom path {
      stroke: $charcoal-grey;
      stroke-width: .6px;
    }

    &.-noDimensions path {
      fill: $recolorgroup-2;
    }
  }

  .leaflet-vectorMain-pane:not(.-linkedActivated) path, .leaflet-vectorLinked-pane path {
    &.ch-zero { fill: $ch-zero; };

    @each $item, $color in $choropleth-colors {
      &.#{$item} {
        fill: $color;
      }
    }
  }

  .leaflet-vectorMain-pane:not(.-linkedActivated) path {
    &.ch-no-meta { fill: $ch-no-meta; };
    &.ch-no-meta-layer { fill: $ch-no-meta-layer; };
    &.ch-default { fill: $ch-default; };
  }

  .leaflet-vectorOutline-pane {
    pointer-events: none;

    path {
      fill: none;
      stroke-opacity: 1;

      &.-highlighted {
        stroke-width: 3px;
        stroke: $white;
      }

      &.-selected {
        stroke: $charcoal-grey;
        stroke-width: 2.5px;
      }
    }
  }
}
