<footer class="c-footer">
  <div class="wrap">
    <div class="signup">
      <p class="paragraph -center -gray">Sign up here to receive news updates <br/> about Transformative Transparency</p>
      <form name="sign-up-form" class="sign-up-form">
        <input type="email" class="email-field" placeholder="email address" required>
        <button type="submit" class="c-button -gray js-btn-sign-up">subscribe</button>
      </form>
    </div>

    <ul class="links-list">
      <li class="link-item"><a class="paragraph -gray" href="#">Terms of Service</a></li>
      <li class="separator"> · </li>
      <li class="link-item"><a class="paragraph -gray" href="/contact.html"> Contact us</a></li>
    </ul>
  </div>
</footer>
