<footer class="c-footer">
  <div class="wrap">
    <div class="signup">
      <p class="paragraph -center -gray">Sign up here to receive news updates <br/> about Transformative Transparency</p>
      <form name="sign-up-form" class="sign-up-form">
        <input type="email" class="email-field" placeholder="email address" required>
        <button type="submit" class="c-button -gray js-btn-sign-up">subscribe</button>
      </form>
    </div>
    <div class="contain-logos-footer">
      <div class="partnership-logos">
        <h4>Trase is a partnership between</h4>
        <ul>
          <li class="sei-logo" >
            <img src="/images/footer/partnership/s-e-i@2x.png" alt="">
          </li>
          <li class="gcp-logo" >
            <img class="gcp-img" src="/images/footer/partnership/g-c-p@2x.png" alt="">
          </li>
        </ul>
      </div>

      <div class="collaboration-logos">
        <h4>In collaboration with</h4>
        <ul>
          <li class="vizzuality-logo">
            <img src="/images/footer/collaboration/vizzuality@2x.png" alt="">
          </li>
          <li class="efi-logo">
            <img src="/images/footer/collaboration/e-f-i@2x.png" alt="">
          </li>
        </ul>
        <div class="contain-text">
          <p>and many other organizations and individuals.</p>
        </div>
      </div>

      <div class="donors-logos">
        <h4>Donors</h4>
        <ul>
          <li class="eustars-logo">
            <img src="/images/footer/donors/eu-stars-33@2x.png" alt="">
          </li>
          <li class="ukaidsv-logo">
            <img src="/images/footer/donors/u-kaidsvg@2x.png" alt="">
          </li>
          <li class="conservancy-logo">
            <img src="/images/footer/donors/nature-conservancy@2x.png" alt="">
          </li>
        </ul>
        <ul>
          <li class="sida-logo">
            <img src="/images/footer/donors/s-i-d-a-logo@2x.png" alt="">
          </li>
          <li class="formas-logo">
            <img src="/images/footer/donors/formas@2x.png" alt="">
          </li>
          <li class="moore-logo">
            <img src="/images/footer/donors/moore@2x.png" alt="">
          </li>
        </ul>
      </div>
    </div>
    <div class="contain-link-list">
      <ul class="links-list">
        <li class="link-item"><a class="paragraph -gray" href="#">Terms of Service</a></li>
        <li class="separator"> · </li>
        <li class="link-item"><a class="paragraph -gray" href="/contact.html"> Contact us</a></li>
      </ul>
    </div>
  </div>
</footer>
