<footer class="c-footer">
  <div class="wrap">
    <div class="signup">
      <!--<p class="title -mono-font -center -white">-->
        <!--<a class="sign-up-link" target="_blank"href="https://traseearth.squarespace.com/">-->
          <!--Click here to receive news updates about TRASE-->
        <!--</a>-->
        <!--</p>-->
    </div>
    <div class="contain-logos-footer">
      <div class="contain-logos">
        <h4 class="title -mono-font">Trase is a partnership between</h4>
        <ul class="logo-list">
          <li class="logo-item sei-logo" >
            <img src="/images/footer/partnership/s-e-i@2x.png" alt="Stockholm Environment Institute">
          </li>
          <li class="logo-item gcp-logo" >
            <img class="gcp-img" src="/images/footer/partnership/g-c-p@2x.png" alt="Global Canopy Programme">
          </li>
        </ul>
      </div>

      <div class="contain-logos">
        <h4 class="title -mono-font">In collaboration with</h4>
        <ul class="logo-list">
          <li class="logo-item vizzuality-logo">
            <img src="/images/footer/collaboration/vizzuality@2x.png" alt="Vizzuality">
          </li>
          <li class="logo-item efi-logo">
            <img src="/images/footer/collaboration/e-f-i@2x.png" alt="The European Forest Institute">
          </li>
        </ul>
        <div class="contain-text">
          <p class="title -mono-font">and many other organizations and individuals.</p>
        </div>
      </div>

      <div class="contain-logos">
        <h4 class="title -mono-font">Donors</h4>
        <ul class="logo-list -donors">
          <li class="logo-item eustars-logo">
            <img src="/images/footer/donors/eu-stars-33@2x.png" alt="Europe">
          </li>
          <li class="logo-item ukaidsv-logo">
            <img src="/images/footer/donors/u-kaidsvg@2x.png" alt="Department for International Development">
          </li>
          <li class="logo-item conservancy-logo">
            <img src="/images/footer/donors/nature-conservancy@2x.png" alt="The Nature Conservancy">
          </li>
        </ul>
        <ul class="logo-list -donors">
          <li class="logo-item sida-logo">
            <img src="/images/footer/donors/s-i-d-a-logo@2x.png" alt="The Swedish International Development Cooperation Agency">
          </li>
          <li class="logo-item formas-logo">
            <img src="/images/footer/donors/formas@2x.png" alt="Formas">
          </li>
          <li class="logo-item moore-logo">
            <img src="/images/footer/donors/moore@2x.png" alt="Gordon and Betty Moore Foundation">
          </li>
        </ul>
      </div>
    </div>
    <div class="contain-link-list">
      <ul class="links-list">
        <li class="link-item"><a class="title -mono-font -white" href="/terms-of-use.html">Terms of Service</a></li>
        <li class="separator"> · </li>
        <li class="link-item"><a class="title -mono-font -white" href="mailto:info@trase.earth"> Contact us</a></li>
      </ul>
    </div>
  </div>
</footer>
