<footer class="c-footer">
  <div class="signup">
    <p>Sign up here to receive news updates <br/> about Transformative Transparency</p>
    <div class="subscribe-container">
      <input type="email" required>
      <button class="btn-subscribe">subscribe</button>
    </div>
  </div>

  <ul class="links-list">
    <li class="link-item"><a href="">Terms of Service</a></li>
    <li class="link-item"><a href="">Contact Us</a></li>
  </ul>
</footer>
