
<div class="c-nav">
  <div class="offset">

    <% if(page !== 'index') { %>
      <% if(page === 'flows') { %>

        <div class="offset-container">
          <div class="burger js-toggle-menu">
            <span class="ingredient"></span>
            <span class="ingredient"></span>
            <span class="ingredient"></span>
          </div>
        </div>
      <% } %>

      <div class="offset-container js-logo">
        <a class="trase-logo" href="/">
          <img src="images/logos/logo-trase-small.svg" alt="TRASE" />
        </a>
      </div>

    <% } %>
  </div>

  <div class="app-nav">
    <div class="left-side">
      <nav class="page-section-list">
        <li class="<%= page === 'flows' ? 'page-section -selected' : 'page-section' %>"><a href="/flows.html">Tool</a></li>
        <li class="<%= page === 'factsheets' ? 'page-section -selected' : 'page-section' %>"><a href="/factsheets.html">Factsheets</a></li>
        <li class="<%= page === 'FAQ' ? 'page-section -selected' : 'page-section' %>"><a href="/FAQ.html">FAQ</a></li>
        <li class="<%= page === 'about' ? 'page-section -selected' : 'page-section' %>"><a href="/about.html">About</a></li>
      </nav>
    </div>

    <div class="right-side">
      <% if(page === 'index') { %>
      <ul class="logos-list">
        <li class="logo-item">
          <a class="logo-link" target="_blank" href="https://www.sei-international.org/"><img class="logo-img -sei" src="images/logos/SEI_0@2x.png" alt="SEI International"></a>
        </li>
        <li class="logo-item">
          <a class="logo-link" target="_blank" href="http://globalcanopy.org/"><img class="logo-img -gcp" src="images/logos/GCP@2x.png" alt="Global Canopy Programme"></a></li>
      </ul>
      <% } %>
    </div>
  </div>

  <% if(page === 'flows') { %>
    <div class="flows-nav">
      <div class="left-side">
        <div class="nav-param">
          <div class="c-dropdown" data-dropdown="country">
            <span class="dropdown-label">Country</span>
            <span class="js-dropdown-title dropdown-title">
              -
            </span>
            <ul class="js-dropdown-list dropdown-list">
              <li class="js-dropdown-item dropdown-item" data-value="brazil">Brazil</li>
              <li class="js-dropdown-item dropdown-item">Argentina</li>
              <li class="js-dropdown-item dropdown-item">Paraguay</li>
              <li class="js-dropdown-item dropdown-item">Colombia</li>
              <li class="js-dropdown-item dropdown-item">Indonesia</li>
            </ul>
          </div>
        </div>

        <div class="nav-param">
          <div class="c-dropdown" data-dropdown="commodity">
            <span class="dropdown-label">Commodity</span>
            <span class="js-dropdown-title dropdown-title">
              -
            </span>
            <ul class="js-dropdown-list dropdown-list">
              <li class="js-dropdown-item dropdown-item" data-value="soy">Soy</li>
              <li class="js-dropdown-item dropdown-item">Beef</li>
              <li class="js-dropdown-item dropdown-item">Palm oil</li>
              <li class="js-dropdown-item dropdown-item">Coffee</li>
            </ul>
          </div>
        </div>

        <div class="nav-param">
          <div class="c-dropdown" data-dropdown="biomeFilter">
            <span class="dropdown-label">Biome</span>
            <span class="js-dropdown-title dropdown-title">
              -
            </span>
            <ul class="js-dropdown-list dropdown-list">
              <li class="js-dropdown-item dropdown-item" data-value="none">All</li>
              <li class="js-dropdown-item dropdown-item" data-value="Amazonia">Amazonia</li>
              <li class="js-dropdown-item dropdown-item" data-value="Cerrado">Cerrado</li>
              <li class="js-dropdown-item dropdown-item" data-value="Mata Atlantica">Mata Atlantica</li>
              <li class="js-dropdown-item dropdown-item" data-value="Caatinga">Caatinga</li>
              <li class="js-dropdown-item dropdown-item" data-value="Pampa">Pampa</li>
              <li class="js-dropdown-item dropdown-item" data-value="Pantanal">Pantanal</li>
            </ul>
          </div>
        </div>

        <div class="nav-param">
          <div class="c-dropdown" data-dropdown="years">
            <span class="dropdown-label">years</span>
            <span class="js-dropdown-title dropdown-title">
              -
            </span>
            <ul class="js-dropdown-list dropdown-list">
              <div class="js-years-slider c-years-slider"></div>
            </ul>
          </div>
        </div>

      </div>

      <div class="right-side">
        <div class="nav-param">
          <div class="c-dropdown -small" data-dropdown="quant">
            <span class="dropdown-label">Resize by</span>
            <span class="js-dropdown-title dropdown-title">
              -
            </span>
            <ul class="js-dropdown-list dropdown-list -right">
              <li class="js-dropdown-item dropdown-item" data-value="volume">Trade volume (Ton)</li>
              <li class="js-dropdown-item dropdown-item" data-value="land_use">Land use (ha)</li>
              <li class="js-dropdown-item dropdown-item" data-value="fob">Financial flow (USD)</li>
              <li class="js-dropdown-item dropdown-item -separator"></li>
              <li class="js-dropdown-item dropdown-item" data-value="deforestation">Territorial deforestation (ha)</li>
              <li class="js-dropdown-item dropdown-item" data-value="soy_deforestation">Soy deforestation (ha)</li>
              <li class="js-dropdown-item dropdown-item">Land-based emissions (Mt CO2)</li>
              <li class="js-dropdown-item dropdown-item" data-value="biodiversity">Loss of biodiversity</li>
            </ul>
          </div>
        </div>

        <div class="nav-param -color js-qual-dropdown">
          <div class="c-dropdown -small" data-dropdown="qual">
            <span class="dropdown-label">Recolour by</span>
            <span class="js-dropdown-title dropdown-title">
              -
            </span>
            <ul class="js-dropdown-list dropdown-list -large -right">
              <li class="js-dropdown-item dropdown-item" data-value="none">None</li>
              <li class="js-dropdown-item dropdown-item" data-value="biome">
                <div class="js-dropdown-item-title dropdown-item-title">Biome</div>
                <ul class="dropdown-item-legend -qual js-dropdown-item-legend">
                  <li class="-qual-amazonia">Amazonia</li>
                  <li class="-qual-cerrado">Cerrado</li>
                  <li class="-qual-mataatlantica">Mata Atlantica</li>
                  <li class="-qual-caatinga">Caatinga</li>
                  <li class="-qual-pampa">Pampa</li>
                  <li class="-qual-pantanal">Pantanal</li>
                </ul>
              </li>
              <li class="js-dropdown-item dropdown-item" data-value="F500">
                <div class="js-dropdown-item-title dropdown-item-title">F500 Score</div>
                <ul class="dropdown-item-legend -stars js-dropdown-item-legend">
                  <li class="-qual-f500-0"></li>
                  <li class="-qual-f500-1"></li>
                  <li class="-qual-f500-2"></li>
                  <li class="-qual-f500-3"></li>
                  <li class="-qual-f500-4"></li>
                </ul>
              </li>
              <li class="js-dropdown-item dropdown-item" data-value="zero_deforestation">
                <div class="js-dropdown-item-title dropdown-item-title">Soy zero-deforestation commitment</div>
                <ul class="dropdown-item-legend -qual js-dropdown-item-legend">
                  <li class="-qual-yes">Yes</li>
                  <li class="-qual-no">No</li>
                </ul>
              </li>
              <li class="js-dropdown-item dropdown-item" data-value="Water Scarcity">
                <div class="js-dropdown-item-title dropdown-item-title">Water Scarcity</div>
                <span class="dropdown-item-legend-unit">1</span>
                <ul class="dropdown-item-legend -linear js-dropdown-item-legend">
                  <li class="-qual-water-scarcity-0"></li><li
                   class="-qual-water-scarcity-1"></li><li
                   class="-qual-water-scarcity-2"></li><li
                   class="-qual-water-scarcity-3"></li><li
                   class="-qual-water-scarcity-4"></li><li
                   class="-qual-water-scarcity-5"></li><li
                   class="-qual-water-scarcity-6"></li>
                </ul>
                <span class="dropdown-item-legend-unit">7</span>
              </li>
              <li class="js-dropdown-item dropdown-item" data-value="Family farming dominance">
                <div class="js-dropdown-item-title dropdown-item-title">Family farming dominance</div>
                <span class="dropdown-item-legend-unit">0%</span>
                <ul class="dropdown-item-legend -linear js-dropdown-item-legend">
                  <li class="-qual-green-0"></li><li
                   class="-qual-green-1"></li><li
                   class="-qual-green-2"></li><li
                   class="-qual-green-3"></li><li
                   class="-qual-green-4"></li>
                </ul>
                <span class="dropdown-item-legend-unit">100%</span>
              </li>
              <li class="js-dropdown-item dropdown-item" data-value="Rural registry compliance (CAR)">
                <div class="js-dropdown-item-title dropdown-item-title">Rural registry compliance (CAR)</div>
                <span class="dropdown-item-legend-unit">0%</span>
                <ul class="dropdown-item-legend -linear js-dropdown-item-legend">
                  <li class="-qual-green-0"></li><li
                   class="-qual-green-1"></li><li
                   class="-qual-green-2"></li><li
                   class="-qual-green-3"></li><li
                   class="-qual-green-4"></li>
                </ul>
                <span class="dropdown-item-legend-unit">100%</span>
              </li>

            </ul>
          </div>
          <div class="dropdown-item-legend-summary js-dropdown-item-legend-summary">
            <!-- legend summary is filled in in nav.component.selectQual -->
          </div>
        </div>

        <div class="nav-param">
          <div class="c-dropdown -small" data-dropdown="view">
            <span class="dropdown-label">Change view</span>
            <span class="js-dropdown-title dropdown-title">
              -
            </span>
            <ul class="js-dropdown-list dropdown-list -right">
              <li class="js-dropdown-item dropdown-item" data-value="false">Summary</li>
              <li class="js-dropdown-item dropdown-item" data-value="true">Complete</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% } %>

  <!-- <ul class="miscellaneous-nav">
    <% if(page === 'flows') { %>
    <li class="miscellaneous-item -bookmark js-bookmark" data-dropdown="bookmark">
      <div class="miscellaneous-item-title js-dropdown-title">
        <svg class="icon icon-bookmark"><use xlink:href="#icon-bookmark"></use></svg>
      </div>
      <div class="c-bookmark-dropdown js-dropdown-list">
        <ul class="bookmark-list"></ul>
        <div class="bookmark-btn-container">
          <button class="c-button add-bookmark">+ add a new bookmark</button>
        </div>
      </div>
    </li>
    <% } %>
    <li class="miscellaneous-item js-share" data-dropdown="share">
      <div class="miscellaneous-item-title js-dropdown-title">
        <svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg>
      </div>
      <div class="c-share-dropdown js-dropdown-list"></div>
    </li>
  </ul> -->

</div>
