<div class="c-nav">
  <div class="offset">
    <div class="offset-container">
      <div class="burger js-toggle-menu">
        <span class="ingredient"></span>
        <span class="ingredient"></span>
        <span class="ingredient"></span>
      </div>
    </div>

    <div class="offset-container js-logo">
      <a class="trase-logo" href="/">
        <img src="images/logos/logo-trase-small-beta.svg" alt="TRASE" />
      </a>
    </div>
  </div>

  <div class="app-nav">
    <div class="left-side">
      <nav class="page-section-list">
        <li class="page-section -selected"><a href="/flows.html">Tool</a></li>
        <li class="page-section -has-menu">
          Profiles
          <ul class="submenu">
            <li class="page-section">
              <a href="/factsheet-place.html">Profiles place</a>
            </li>
            <li class="page-section">
              <a href="/factsheet-actor.html">Profiles trader</a>
            </li>
          </ul>
        </li>
        <li class="page-section"><a href="/FAQ.html">FAQ</a></li>
        <li class="page-section -has-menu">
          <a href="/about.html">About</a>
          <ul class="submenu">
            <li class="page-section">
              <a href="/terms-of-use.html">Terms of use</a>
            </li>
            <li class="page-section">
              <a href="/data-methods.html">Data and methods</a>
            </li>
          </ul>
        </li>
      </nav>
    </div>
  </div>

  <div class="flows-nav js-flows-nav-container"></div>
</div>
