<div class="c-nav">
  <div class="row">
    <div class="small-12 columns">
      <div class="nav-item js-toggle-menu">
        <div class="burger">
          <span class="ingredient"></span>
          <span class="ingredient"></span>
          <span class="ingredient"></span>
        </div>
      </div>
      <div class="app-nav">
        <nav>
          <div class="left-side">
            <div class="nav-item">
              <a href="/" class="nav-link">HOME</a>
            </div>
            <div class="nav-item -selected">
              <a href="/flows.html" class="nav-link">TOOL</a>
            </div>
            <div class="nav-item -has-menu">
              <a href="/factsheets.html" class="nav-link">FACTSHEETS</a>
            </div>
            <div class="nav-item -has-menu">
              <a href="/about.html" class="nav-link">ABOUT</a>
              <ul class="nav-submenu">
                <li class="nav-submenu-item">
                  <a href="/terms-of-use.html" class="nav-link">TERMS OF USE</a>
                </li>
                <li class="nav-submenu-item">
                  <a href="/data-methods.html" class="nav-link">DATA AND METHODS</a>
                </li>
                <li class="nav-submenu-item">
                  <a href="/FAQ.html" class="nav-link">FAQ</a>
                </li>
              </ul>
            </div>
            <div class="nav-item">
              <a href="/data.html" class="nav-link">DATA</a>
            </div>
          </div>
        </nav>
      </div>
      <div class="flows-nav" id="js-flows-nav-react">
        lala
      </div>
      <div class="flows-nav">
        <nav>
          <div class="left-side">
            <div class="nav-item">
              <div class="offset-container js-logo">
                <a class="trase-logo" href="/">
                  <img src="images/logos/logo-trase-small-beta.svg" alt="TRASE" />
                </a>
              </div>
            </div>

            <div class="nav-item js-context-countryCommodity"></div>

            <!-- conditional -->
            <div class="nav-item js-context-filters"></div>

            <div class="nav-item">
              <div class="c-dropdown" data-dropdown="years">
                <span class="dropdown-label">years</span>
                <span class="js-dropdown-title dropdown-title">
                  -
                </span>
                <ul class="js-dropdown-list dropdown-list">
                  <div class="js-years-slider c-years-slider"></div>
                </ul>
              </div>
            </div>
          </div>

          <div class="right-side">
            <div class="nav-item js-context-resizeBy"></div>

            <div class="nav-item -color js-context-recolorBy js-qual-dropdown"></div>

            <div class="nav-item js-context-view">
              <div class="c-dropdown -small" data-dropdown="view">
                <span class="dropdown-label">
                  Change view
                  <svg class="icon tooltip-icon">
                    <use xlink:href="#icon-layer-info"></use>
                  </svg>
                </span>
                <span class="js-dropdown-title dropdown-title -small">
                  -
                </span>
                <ul class="js-dropdown-list dropdown-list -right">
                  <li class="js-dropdown-item dropdown-item" data-value="false">Summary</li>
                  <li class="js-dropdown-item dropdown-item" data-value="true">Complete</li>
                </ul>
              </div>
            </div>

            <div class="nav-item js-open-search">
              <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="c-nav-spacer"></div>
