<div class="c-nav">
  <div class="row">
    <div class="small-6 columns">
      <nav>
        <% if(page !== 'index') { %>
          <li class="page-section"><a href="/">HOME</a></li>
        <% } %>
        <li class="page-section"><a href="/flows.html">TOOL</a></li>
        <li class="<%= page.indexOf('factsheets') !== -1 ? 'page-section -selected' : 'page-section' %> -has-menu">
          PROFILES
          <ul class="submenu">
            <li class="page-section">
              <a href="/factsheet-place.html">Profiles place</a>
            </li>
            <li class="page-section">
              <a href="/factsheet-actor.html">Profiles trader</a>
            </li>
          </ul>
        </li>
        <li class="<%= page === 'about' ? 'page-section -selected' : 'page-section' %> -has-menu">
          <a href="/about.html">ABOUT</a>
          <ul class="submenu">
            <li class="page-section">
              <a href="/terms-of-use.html">Terms of use</a>
            </li>
            <li class="page-section">
              <a href="/data-methods.html">Data and methods</a>
            </li>
          </ul>
        </li>
        <li class="<%= page === 'data' ? 'page-section -selected' : 'page-section' %>"><a href="#">DATA</a></li>
      </nav>
    </div>

    <div class="small-6 columns">

    </div>
  </div>
</div>
<div class="c-nav-spacer"></div>
