<li
  class="layer-item"
  data-layer-slug="<%= slug %>"
>
  <span class="layer-name"><%= name %></span>
  <div class="radios">
    <input class="c-radio-btn" type="radio" name="horizontal" value="<%= slug %>">
    <input class="c-radio-btn" type="radio" name="vertical" value="<%= slug %>">
  </div>
</li>
