<li
        class="layer-item"
        data-layer-slug="<%= slug %>"
>
  <label class="layer-name"><%= name %></label>
  <div class="radios">
    <input type="radio" name="horizontal" value="<%= slug %>">
    <div class="c-radio-btn"></div>
    <input type="radio" name="vertical" value="<%= slug %>">
    <div class="c-radio-btn"></div>
  </div>
</li>
