@import '../../settings';
@import '/basic-dropdown';

.c-bookmark-dropdown {
  @extend %dropdown;
  position: absolute;
  top: calc(100% - 10px);
  right: 10px;
  min-width: 240px;

  > .bookmark-list {
    margin: 0 0 5px;
    padding: 12px 10px 0;

    &::after {
      display: inline-block;
      position: absolute;
      left: 50%;
      width: 100%;
      margin: 5px 0 0;
      transform: translate(-50%, 0);
      border-bottom: 1px solid $pale-grey;
      content: '';
    }

    > .bookmark-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      border: 1px solid transparent;
      color: rgba($charcoal-grey, .8);
      font-family: $font-family-1;
      font-size: $font-size-x-regular;
      letter-spacing: .5px;

      &:hover, &:focus {
        border-radius: 4px;
        border-color: rgba($charcoal-grey, .3);
        background-color: $medium-pink;
        color: $white;
      }
    }

    > .bookmark-item > .bookmark-options {
      display: flex;

      > .bookmark-action {
        &:nth-child(even) {
          margin: 0 10px;
        }
      }

      > .bookmark-action > svg {
        fill: rgba($charcoal-grey, .4);
        stroke: rgba($charcoal-grey, .4);
      }
    }
  }

  > .bookmark-btn-container {
    padding: 10px 15px;

    > .c-button {
      width: 100%;
      padding: 10px 0;
    }
  }
}
