@import '../../settings';
@import '/basic-dropdown';
@import '../shared/switcher';

.c-settings-dropdown {
  @extend %dropdown;
  position: absolute;
  top: calc(100% - 10px);
  right: 10px;
  min-width: 200px;
  padding: 10px;

  .text-option {
    color: $charcoal-grey;
    font-family: $font-family-1;
    font-size: $font-size-regular;
    letter-spacing: -.5px;
    list-style: 1;
    text-transform: uppercase;

  }

  > .graph-options {
    &::after {
      display: inline-block;
      position: absolute;
      left: 50%;
      width: 100%;
      margin: 15px 0 0;
      transform: translate(-50%, 0);
      border-bottom: 1px solid $pale-grey;
      content: '';
    }
  }

  .graph-selector {
    display: flex;
    align-items: center;
    border: 1px solid rgba($charcoal-grey, .3);
    border-radius: 4px;
  }

  .graph-selector >.graph-mode {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    padding: 5px 0;

    > svg {
      fill: rgba($charcoal-grey, .5);
      stroke: rgba($charcoal-grey, .5);
    }

    &:first-child {
      border-right: 1px solid rgba($charcoal-grey, .3);
    }

    &.-selected {
      background-color: $medium-pink;

      > svg {
        fill: $white;
        stroke: $white;
      }
    }
  }

  .graph-distribution {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 0;
  }

  .graph-distribution > .columns {
    display: flex;
    width: 96px;
    border: 1px solid rgba($charcoal-grey, .3);
    border-radius: 4px;

    > .column {
      display: flex;
      flex-basis: 33.33%;
      align-items: center;
      justify-content: center;
      height: 32px;

      color: $charcoal-grey;
      font-family: $font-family-1;
      font-size: $font-size-regular;
      letter-spacing: .3px;
      line-height: 1;

      &:not(:last-child) {
        border-right: 1px solid rgba($charcoal-grey, .3);
      }

      &.-selected {
        background-color: $medium-pink;
        color: $white;
        font-weight: $font-weight-bold;
      }
    }
  }

  > .timeline-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 0;
    padding: 15px 0 0;
  }
}
