<table>
  <thead>
    <tr>
      <th>municipallities</th>
      <th>TRADE AMOUNT</th>
      <th>DEFORESTATION</th>
      <th>WATER SCARCITY</th>
      <th>CONFLICTS</th>
      <th>FIRES</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Querência <svg class="icon"><use xlink:href="#icon-outside-link"/></svg></td>
      <td class="tons-text">2,863</td>
      <td class="ha-text">1,863</td>
      <td class="mm-ha-text">53</td>
      <td>863</td>
      <td>53</td>
    </tr>
    <tr>
      <td>Campo Novo <svg class="icon"><use xlink:href="#icon-outside-link"/></svg></td>
      <td>1,320</td>
      <td>1,320</td>
      <td>20</td>
      <td>30</td>
      <td>20</td>
    </tr>
    <tr>
      <td>Maracaju <svg class="icon"><use xlink:href="#icon-outside-link"/></svg></td>
      <td>1,065</td>
      <td>1,965</td>
      <td>96</td>
      <td>65</td>
      <td>96</td>
    </tr>
    <tr>
      <td>Barreiras <svg class="icon"><use xlink:href="#icon-outside-link"/></svg></td>
      <td>837</td>
      <td>893</td>
      <td>35</td>
      <td>893</td>
      <td>35</td>
    </tr>
  </tbody>
</table>
