@import '../../settings';

.c-area-stack {
  width: 900px;
  height: 320px;
  margin: 0 auto;

  .area {
    opacity: .9;
  }

  .tag {
    font-family: $font-family-1;
    font-size: $font-size-x-regular;
    text-anchor: end;
  }
}
