@import '../../settings';

.c-area-table {

  > .title {
    margin: 0 0 24px;
  }

  table {
    width: 100%;

    > thead {
      > .table-row {
        border-bottom: 1px solid $charcoal-grey;
      }

      > .table-row > .header-cell {
        padding: 0 0 8px;

        color: $charcoal-grey;
        font-family: $font-family-1;
        font-size: $font-size-x-regular;
        font-weight: $font-weight-bold;
        letter-spacing: -.6px;
        line-height: 1.23;
        text-align: left;
        text-transform: uppercase;
      }
    }

    > tbody {
      > .table-row {

        &:not(:last-child) {
          border-bottom: 1px solid rgba($charcoal-grey, .2);
        }

        > .cell-name,
        > .cell-score {
          color: $charcoal-grey;
          font-family: $font-family-1;
          font-size: $font-size-xx-regular;
          letter-spacing: -.8px;
          line-height: 2.5;
        }

        > .cell-name {
          position: relative;
          line-height: $font-size-xx-regular;

          > .node-name {
            display: inline-block;
            max-width: 80%;

            text-overflow: ellipsis;
            white-space: nowrap;

            opacity: 1;
            overflow: hidden;
          }

          > .node-link {
            display: inline-flex;
            position: absolute;
          }

          > .node-link > .icon {
            margin: 0 0 0 8px;
            cursor: pointer;
            fill: rgba($charcoal-grey, .2);

            &:hover {
              fill: $charcoal-grey;
            }
          }
        }

        > .cell-score  {
          position: relative;

          > .unit {

            &::after {
              position: absolute;
              top: 0;

              color: rgba($charcoal-grey, .6);
              content: attr(data-unit);
            }
          }
        }
      }
    }
  }

  & + .c-area-table {
    margin: 56px 0 0;
  }
}
