@import '../../settings';

.c-line {
  path {
    stroke-width: 2px;
    fill: none;
  }

  .axis {
    > text {
      font-family: $font-family-2;
      font-size: $font-size-x-regular;
    }
  }

  .line--deforestation {
    stroke: $medium-pink;
  }

  .line--production {
    stroke: $charcoal-grey;
  }
}
