@import '../../settings';

.c-locator-map {
  width: 100%;
  height: 100%;

  .polygon {
    fill: $charcoal-grey-faded-a-lot;
    stroke: $egg-shell;

    &.-isCurrent {
      fill: $medium-pink;
    }
  }
}
