@import '../settings';

.c-button {
  border: 1px solid rgba($charcoal-grey, .3);
  border-radius: 4px;
  color: $charcoal-grey;
  font-family: $font-family-1;
  font-size: $font-size-x-regular;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;

  &.-bold {
    font-weight: $font-weight-bold;
  }

  &.-pink {
    border-color: transparent;
    background-color: $medium-pink;

    color: $white;
  }

  &.-transparent {
    border-color: $medium-pink;
    background-color: transparent;

    color: $medium-pink;
  }

  &.-gray {
    border-color: transparent;
    background-color: $gray;

    color: $charcoal-grey;
  }

  &.-big {
    padding: 16px 28px;
  }
}
