@import '../settings';
@import '../mixins';

.c-columns-selector {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;

  > .c-dropdown {
    width: 100px;

    &.-column-selector > .dropdown-title {
      padding: 0;
      font-family: $font-family-1;
      font-size: $font-size-regular;
      text-align: left;
      text-transform: uppercase;

      &::after {
        @include arrow(8px, 2px, $charcoal-grey, 'down');
        top: 0;
      }
    }

    .dropdown-list {
      top: auto;
      bottom: 40px;
    }

    .dropdown-list > .dropdown-item {
      padding: 10px 25px;
      font-family: $font-family-1;
      font-size: $font-size-regular;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
