@import '../settings';

.c-loading {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 40px;
  padding: 10px;
  transform: translate(-50%, -50%);

  background: $white;

  font-family: $font-family-1;
  line-height: 20px;
  text-align: center;

  box-shadow: 5px 5px 10px 0 rgba($black, .5);

  &.-visible {
    display: block;
  }
}
