@import '../settings';
@import '../mixins';

.c-map {
  border-right: solid 1px rgba($charcoal-grey, .7);
  transform: translate(0, 0);
  transition: transform 1s ease;
  z-index: 1;

  > .c-map-leaflet {
    flex: 1 1 100%;
  }

  > .c-map-legend {
    position: absolute;
    bottom: 23px;
    width: 319px;
    z-index: 1001;

    &.-hidden {
      height: 0;
      padding: 0;
    }
  }

  .leaflet-control-zoom {
    left: 7px;
    bottom: 72px;
    border: 0;
    box-shadow: $box-shadow;
    margin-bottom: 0;
    margin-left: 0;

    > a {
      width: 32px;
      height: 32px;
      font-size: 18px;
    }
  }

  .leaflet-bottom.leaflet-left {
    width: 100%;

    .leaflet-control-scale {
      display: flex;
      bottom: -74px;
      left: 0;
      justify-content: flex-end;
      width: 320px;
      margin: 0;
      padding: 5px 10px 4px 10px;
      background: $charcoal-grey-faded;
      transform: translateY(24px);
      transition: transform .3s;

      .leaflet-control-scale-line {
        margin-right: 42px;
        border-width: 1px;
        border-color: $white;
        background: transparent;
        color: $white;
        font-family: $font-family-1;
        font-size: $font-size-small;
      }

      &.-visible {
        bottom: -50px;
      }
    }
  }

  .leaflet-control-attribution {
    display: none;
  }

  .c-map-attribution {
    position: absolute;
    bottom: 0;
    width: 319px;
    padding: 6px 8px;
    background: $white;
    color: $charcoal-grey;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 11px;
    z-index: 1001;

    a,
    span {
      color: rgba($charcoal-grey, .5);
    }
  }

  .btn-map {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    border-radius: 4px;
    background-color: $white;
    box-shadow: $box-shadow;

    cursor: pointer;
    z-index: 402;

    &.-basemap {
      position: absolute;
      bottom: 32px;
      left: 7px;
      z-index: 2000;

      > .icon-layers {
        width: 16px;
        height: 16px;
      }
    }

    &.-toggle-map {
      position: absolute;
      top: 0;
      bottom: 0;
      right: -5px;
      margin: auto;
      width: 10px;
      height: 58px;
      border-radius: 4px;
      background-color: $charcoal-grey;
      box-shadow: 0 1px 3px 0 rgba($black, .1), 0 1px 2px 0 rgba($black, .2);
      color: rgba($gray, .5);
    }

    .icon-dragger_dots {
      height: 34px;
    }
  }

  .leaflet-vectorMain-pane {
    opacity: 1;
    pointer-events: auto;

    &.-dimmed, &.-hidden {
      opacity: .8;
      pointer-events: none;

      path {
        pointer-events: none;
      }
    }

    &.-hidden {
      opacity: 0;
    }
  }

  .leaflet-vectorMain-pane path {
    fill: $gray;
    fill-opacity: 1;
    stroke: $charcoal-grey;
    stroke-width: .2px;
    pointer-events: auto;

    &.-disabled {
      cursor: not-allowed;
    }
  }

  .leaflet-vectorLinked-pane path {
    fill: $gray;
    fill-opacity: 1;
    stroke: $charcoal-grey;
    stroke-width: 1px;
  }

  .leaflet-vectorMain-pane:not(.-linkedActivated) path, .leaflet-vectorLinked-pane path {
    &.ch-red-0 { fill: $ch-red-0; };
    &.ch-red-1 { fill: $ch-red-1; };
    &.ch-red-2 { fill: $ch-red-2; };
    &.ch-red-3 { fill: $ch-red-3; };
    &.ch-red-4 { fill: $ch-red-4; };
    &.ch-blue-0 { fill: $ch-blue-0; };
    &.ch-blue-1 { fill: $ch-blue-1; };
    &.ch-blue-2 { fill: $ch-blue-2; };
    &.ch-blue-3 { fill: $ch-blue-3; };
    &.ch-blue-4 { fill: $ch-blue-4; };
    &.ch-bi-0-2 { fill: $ch-bi-0-2; };
    &.ch-bi-1-2 { fill: $ch-bi-1-2; };
    &.ch-bi-2-2 { fill: $ch-bi-2-2; };
    &.ch-bi-0-1 { fill: $ch-bi-0-1; };
    &.ch-bi-1-1 { fill: $ch-bi-1-1; };
    &.ch-bi-2-1 { fill: $ch-bi-2-1; };
    &.ch-bi-0-0 { fill: $ch-bi-0-0; };
    &.ch-bi-1-0 { fill: $ch-bi-1-0; };
    &.ch-bi-2-0 { fill: $ch-bi-2-0; };
  }

  .leaflet-vectorMain-pane:not(.-linkedActivated) path {
    &.ch-no-meta { fill: $ch-no-meta; };
    &.ch-no-meta-layer { fill: $ch-no-meta-layer; };
    &.ch-default { fill: $ch-default; };
  }

  .leaflet-vectorLinked-pane path {
    &.ch-no-meta { fill: $white; };
    &.ch-no-meta-layer { fill: $white; };
    &.ch-default { fill: $white; };
  }

  .leaflet-vectorOutline-pane {
    pointer-events: none;

    path {
      fill: none;
      stroke-opacity: 1;

      &.-highlighted {
        stroke-width: 3px;
        stroke: $white;
      }

      &.-selected {
        stroke: $charcoal-grey;
        stroke-width: 2.5px;
      }
    }
  }

  // map modifiers
  &.-moved {
    transform: translate(100%, 0);
  }

  &.-fullscreen {

    .-toggle-map {
      &::before {
        border-right-color: $medium-pink;
      }

      &::after {
        border-left-color: rgba($charcoal-grey, .3);
      }
    }

    .c-map-legend,
    .c-map-attribution {
      width: 320px;
      border-right: 1px solid rgba($charcoal-grey, .2);
    }
  }

  &.-have-legend {

    .leaflet-bottom.leaflet-left .leaflet-control-scale {

      &.-visible {
        transform: translateY(0);
      }
    }
  }
}
