@import '../settings';

.c-nav {
  display: flex;
  box-shadow: $box-shadow;

  > .left-side,
  > .right-side {
    display: flex;

    border-right: 1px solid $pale-grey;
    border-left: 1px solid $pale-grey;
  }

  > .right-side {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  > .menu  {
    display: flex;
    align-items: center;
    padding: 0 15px;

    > .burger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 14px;
      cursor: pointer;

      .burger-ingredient {
        display: inline-block;
        width: 20px;
        height: 2px;
        background-color: $charcoal-grey;
      }
    }
  }

  .c-nav-param {
    padding: 0 20px;

    &.-color {
      position: relative;
    }

    & + .c-nav-param {
      border-left: 1px solid $pale-grey;
    }

    .color-flag {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100%;
      transform: translate(-50%, 0);

      > .color {
        flex-basis: 50%;
        flex-grow: 1;
        height: 5px;

        // sample colors
        &.-left {
          background-color: $orange;
        }

        &.-right {
          background-color: $medium-pink;
        }
      }
    }
  }

  .miscellaneous-nav {
    display: flex;
    border-left: 1px solid $pale-grey;

    .miscellaneous-item {
      cursor: pointer;

      & + .miscellaneous-item {
        border-left: 1px solid $pale-grey;
      }

      &:hover {
        background-color: $manilla;
      }

      .miscellaneous-item-title {
        width: 60px;
        padding: 20px;
      }
    }
  }
}
