@import '../settings';

.c-nodes-titles {
  display: flex;
  padding: 16px 16px 16px 7px;

  .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 34px;
  }

  .column-title {
    margin-bottom: 8px;
    color: $charcoal-grey;
    font-family: $font-family-1;
    font-size: $font-size-small;
    text-transform: uppercase;
  }

  .column-content {
    align-content: space-between;

    color: $black;
    font-family: $font-family-1;
    font-size: $font-size-medium;
  }

  .unit {
    display: inline-block;
    max-width: 110px;
    color: $charcoal-grey;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
  }

  .value {
    display: inline-block;
    vertical-align: bottom;
  }

  .outside-link {
    color: $warm-pink;
  }
}
