@import '../settings';

.c-sankey {
  .sankey-bg {
    width: 100%;
    height: 100%;
    fill: rgba(255, 255, 255, 0);
  }

  .sankey-node {
    cursor: pointer;

    .sankey-node-rect {
      fill: $white-transparent;
      stroke: $pinkish-grey-two;
      stroke-width: 1px;
    }

    .sankey-node-label {
      fill: $charcoal-grey;
      font-family: $font-family-1;
      font-size: $font-size-regular;
      text-transform: capitalize;
      text-anchor: middle;
    }

    &.-selected {
      // transform: scale(1.1,1);
      // transform-origin: center;

      .sankey-node-rect {
        fill: $white;
      }
    }
  }



  .sankey-link {
    fill: none;
  }

  .sankey-links .sankey-link {
    opacity: .3;
    stroke: $charcoal-grey;

    &.-hover {
      opacity: 1;
    }
  }

}
