@import '../settings';

.c-sankey {
  .sankey-bg {
    width: 100%;
    height: 100%;
    fill: $white;
  }

  .sankey-node {
    cursor: pointer;

    .sankey-node-rect {
      fill: $white;
      stroke: $black;
      stroke-width: .5px;
    }

    .sankey-node-label {
      font-size: 12px;
      text-transform: capitalize;
      text-anchor: middle;
    }

    &.-selected .sankey-node-rect {
      stroke-width: 2px;
    }
  }



  .sankey-link {
    fill: none;
  }

  .sankey-links .sankey-link {
    opacity: .3;
    stroke: $charcoal-grey;

    &.-hover {
      opacity: 1;
    }
  }

}
