<div class="bucket-container js-bucket-legend <%= cssClass %>">
  <div class="bucket-block">
    <div class="layer-name"><%= title[0] %></div>
    <svg class="icon icon-legend-arrow"><use xlink:href="#icon-legend-arrow"></use></svg>
    <ul class="bucket-legend">
      <% colors.forEach(function(color) { %>
        <li class="bucket-item" >
          <div class="bucket" style="background-color: <%= color %>"></div>
        </li>
        <% }) %>
      </ul>
  </div>
  <div class="bucket-footer">
    <svg class="icon icon-legend-arrow"><use xlink:href="#icon-legend-arrow"></use></svg>
    <div class="layer-name "><%= title[1] %></div>
  </div>
</div>
