<div class="bucket-container js-bucket-legend <%= cssClass %>">
  <div class="bucket-names">
    <div class="layer-name"><%= title[0] %></div>
    <div class="layer-name "><%= title[1] %></div>
  </div>
  <ul class="bucket-legend">
    <% colors.forEach(function(color) { %>
      <li class="bucket-item" >
        <div class="bucket <%= color %>"></div>
      </li>
    <% }) %>
  </ul>
  <svg class="icon icon-bidimensional-legend-arrows"><use xlink:href="#icon-bidimensional-legend-arrows"></use></svg>
</div>
