<% for(let [ i, basemap ] in Object.entries(basemaps)) { %>
  <li class="layer-item">
    <div class="map-thumb" style="background-image: url('<%= basemap.thumbnail %>');">
      <span class="layer-name"><%= basemap.title %></span>
    </div>
    <div class="radios">
      <div class="c-radio-btn -no-self-cancel" data-group="horizontal" value="<%= i %>"></div>
    </div>
  </li>
<%};%>
