@import '../../settings';

.c-footer {
  // display: flex;
  // height: 465px;
  padding: 48px 0 56px;

  background-color: $charcoal-grey;

  // > .wrap {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: space-between;
  // }

  .signup {
    max-width: 400px;
    margin: 0 auto;

    > .sign-up-form {
      display: flex;
      max-width: 330px;
      height: 40px;
      margin: 16px auto 0;

      border: 1px solid $gray;
      border-radius: 4px;
    }

    > .sign-up-form > .email-field {
      width: 100%;
      padding: 0 16px;
      outline: 0;

      background-color: transparent;

      color: $gray;
      font-family: $font-family-1;
      font-size: $font-size-x-regular;

      &::placeholder {
        color: $gray;
        font-family: $font-family-1;
        font-size: $font-size-x-regular;
      }

      &::-webkit-input-placeholder {
        color: $gray;
        font-family: $font-family-1;
        font-size: $font-size-x-regular;
      }

      &::-ms-input-placeholder {
        color: $gray;
        font-family: $font-family-1;
        font-size: $font-size-x-regular;
      }
    }

    > .sign-up-form > .c-button {
      flex-basis: calc(100% / 3);
      height: 100%;
      padding: 0 16px;
      border-radius: 0;
      background-color: $gray;
      font-family: $font-family-1;
      font-size: $font-size-x-regular;
      text-transform: uppercase;
    }
    
    .sign-up-link {
      color: $white;
    }
  }

  .contain-logos-footer {
    display: flex;
    width: 100%;
    margin-top: 56px;

    .contain-logos {
      flex-basis: calc(100% / 3);
      height: 0%;
      padding-left: 16px;
      border-left: 1px solid $white;

      ul {
        li {
          display: block;
        }
      }

      h4 {
        margin-bottom: 32px;
        color: $white;
      }

      .sei-logo {
        margin-bottom: 48px;

        img {
          width: 168px;
        }
      }

      .gcp-logo {
        img {
          width: 112px;
        }
      }

      .vizzuality-logo {
        margin-bottom: 35px;

        img {
          width: 116px;
        }
      }

      .efi-logo {
        img {
          width: 64px;
        }
      }

      .contain-text {
        margin-top: 20px;

        p {
          color: $gray;
          opacity: .5;
        }
      }

      &.-donors {
        ul {
          display: flex;

          &:first-of-type {
            margin-bottom: 24px;
          }
        }

        .eustars-logo {
          margin-right: 56px;

          img {
            width: 80px;
          }
        }

        .ukaidsv-logo {
          margin-right: 24px;

          img {
            width: 48px;
          }
        }

        .conservancy-logo {
          img {
            width: 120px;
          }
        }

        .sida-logo {
          margin-right: 24px;

          img {
            width: 120px;
          }
        }

        .formas-logo {
          margin-right: 32px;

          img {
            width: 40px;
          }
        }

        .moore-logo {

          img {
            width: 104px;
          }
        }
      }
    }
  }

  .contain-link-list {
    margin-top: 54px;

    .links-list {
      display: flex;
      justify-content: center;

      .separator {
        display: inline-flex;
        align-items: center;
        margin: 0 8px;

        color: $gray;
      }
    }
  }
}
