@import '../../settings';

.c-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $nav-height;

  box-shadow: $box-shadow;

  > .left-side,
  > .right-side {
    display: flex;
  }

  > .left-side {

    > .page-section-list {
      display: flex;

      > .trase-logo-container {
        display: flex;
        align-items: center;

        border-right: 1px solid $silver;

        > .trase-logo {
          display: inline-block;

          // > img {}
        }
      }

      > .page-section {
        display: inline-flex;
        align-items: flex-end;
        padding: 0 24px 13px;

        border-right: 1px solid $silver;

        &.-selected {
          position: relative;

          &::after {
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;


            width: 100%;
            height: 6px;

            background-color: $medium-pink;

            content: '';
          }
        }

        > a {
          color: $charcoal-grey;

          font-family: $font-family-2;
          font-size: $font-size-xx-regular;
        }
      }
    }
  }

  .right-side {
    > .logos-list {
      display: flex;
      align-items: flex-end;
      padding: 0 24px;

      > .logo-item {
        padding: 0 0 13px;

        & + .logo-item {
          margin: 0 0 0 48px;
        }

        .logo-link {
          display: inline-block;
        }

        .logo-img {
          &.-sei {
            width: 135px;
            height: 25px;
          }

          &.-gcp {
            width: 61px;
            height: 28px;
          }
        }
      }
    }

    > .share-menu {
      display: flex;
      align-items: center;
      padding: 0 24px;

      border-left: 1px solid $silver;

      cursor: pointer;

      > .icon-share {
        width: 20px;
        height: 20px;
      }
    }
  }
}
