
.c-anchor-list {
  padding: 16px 0 0;

  > .anchor-list > .anchor-item {

    > a {
      color: $charcoal-grey;
      font-family: $font-family-2;
      font-size: $font-size-xx-regular;
    }

    &:not(:first-child) {
      margin: 32px 0 0;
    }

    &.-selected {
      > a {
        font-weight: $font-weight-bold;
      }
    }
  }
}
