@import '../../settings';

.c-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 640px;

  transform: translate(-50%, -50%);

  z-index: 100;

  > .header {
    padding: 24px 32px;
    background-color: $white;
  }

  > .content {
    position: relative;
    min-height: 345px;
    padding: 16px 32px 90px;
    background-color: $pale-peach;

    color: $charcoal-grey;
    font-family: $font-family-1;
    font-size: $font-size-xx-regular;
    // incoming DOM from CMS
    p, a, span {
      letter-spacing: -1.3px;
      line-height: 1.5;
    }

    > .c-button {
      position: absolute;
      right: 32px;
      bottom: 32px;

      border: 1px solid $charcoal-grey;
    }
  }
}

.veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba($charcoal-grey, .7);

  z-index: 100;
}
