@import '../../settings';

.c-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 640px;

  transform: translate(-50%, -50%);

  z-index: $z-above-veil;

  > .header {
    padding: 24px 32px;
    background-color: $white;
  }

  > .content {
    position: relative;
    min-height: 345px;
    padding: 16px 16px 90px;
    background-color: $charcoal-grey;

    color: $white;
    font-family: $font-family-2;
    font-size: $font-size-regular;
    line-height: 1.5;

    p, a, span {
      line-height: 1.5;
    }

    .c-button {
      position: absolute;
      right: 16px;
      bottom: 16px;
      color: $charcoal-grey;
      background-color: $white;
      font-weight: bold;
    }
  }
}

.modal-container {
  display: none;
  @media screen and (min-width: $breakpoint-tablet) {
    display: block;
  }
}

.mobile-warning {
  display: block;
  @media screen and (min-width: $breakpoint-tablet) {
    display: none;
  }
}
