@import '../../settings';

.c-nav {
  position: fixed;
  width: 100%;
  height: $nav-height;
  font-family: $font-family-1;
  z-index: 2;

  nav {
    height: $nav-height;

    > li {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 100%;
      padding: 0 13px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: $charcoal-grey;

      &.-has-menu {

        &:hover .submenu {
          display: block;
        }
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    .submenu {
      display: none;
      position: absolute;
      top: $nav-height;
      left: 14px;
      min-width: 200px;
    }
  }
}

.c-nav-spacer {
  width: 100%;
  height: $nav-height;
  background-color: $egg-shell;
}
