@import '../../settings';

.c-nav {
  display: flex;
  position: relative;
  width: 100%;
  height: $nav-height;

  background-color: $white;
  box-shadow: 0 1px 6px 0 rgba($black, 0.15), 0 1px 6px 0 rgba($black, 0.2);

  z-index: 3;

  > .offset {
    display: flex;
    align-items: center;

    border-right: 1px solid $silver;

    .burger {
      position: relative;
      width: 18px;
      height: 12px;

      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;

      &:hover > .ingredient {
        background: $medium-pink;
      }

      > .ingredient {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        border-radius: 3px;
        background: $black;
        opacity: 1;

        &:first-child {
          top: 0;

          transform-origin: left center;
        }

        &:nth-child(2) {
          top: 5px;

          transform-origin: left center;
        }

        &:last-child {
          top: 10px;

          transform-origin: left center;
        }
      }

      &.open {

        &:hover {
          > .ingredient {
            background: $medium-pink;
          }
        }

        > .ingredient {
          border-radius: 0;
          background: $black;

          &:first-child {
            top: -1px;
            left: 3px;

            transform: rotate(45deg);
          }

          &:nth-child(2) {
            width: 0%;
            opacity: 0;
          }

          &:last-child {
            top: 12px;
            left: 3px;

            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  .offset-container {
    display: flex;
    align-items: center;
    padding: 0 $nav-padding;

    & + .offset-container,
    & + .nav-param {
      border-left: 1px solid $silver;
    }

    // this is because of BETA literal added. Once removed, please
    // remove this properties.
    > .trase-logo {
      transform: translate(0, 3px);
    }
  }

  > .app-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    > .left-side,
    > .right-side {
      display: flex;
    }

    > .left-side {

      > .page-section-list {
        display: flex;

        .page-section {
          display: inline-flex;
          position: relative;
          align-items: flex-end;
          padding: 0 24px 13px;


          > a {
            color: $charcoal-grey;

            font-family: $font-family-2;
            font-size: $font-size-xx-regular;
          }

          > .submenu {
            display: none;
            position: absolute;
            top: $nav-height;
            left: 0;
            min-width: 200px;

            > .page-section {
              width: 100%;
              padding: 13px 24px;
              background-color: $white;
              white-space: nowrap;
              box-shadow: $box-shadow;
            }
          }

          &.-has-menu {
            &:hover > .submenu {
              display: block;
            }

            &:hover > .submenu > .page-section {
              &:hover {
                background-color: $manilla;
              }
            }
          }
        }

        > .page-section {
          border-right: 1px solid $silver;
        }

        > .page-section.-selected {
          position: relative;

          &::after {
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 6px;

            background-color: $medium-pink;

            content: '';
          }
        }
      }
    }

    > .right-side {
      > .logos-list {
        display: flex;
        align-items: flex-end;
        padding: 0 $nav-padding;

        > .logo-item {
          padding: 0 0 13px;

          & + .logo-item {
            margin: 0 0 0 48px;
          }

          .logo-link {
            display: inline-block;
          }

          .logo-img {
            &.-sei {
              width: 135px;
              height: 25px;
            }

            &.-gcp {
              width: 61px;
              height: 28px;
            }
          }
        }
      }
    }
  }

  > .flows-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    > .left-side,
    > .right-side {
      display: flex;
      align-items: stretch;
    }

    > .left-side {
      border-right: 1px solid $pale-grey;
    }

    > .right-side {
      border-left: 1px solid $pale-grey;
    }

    .nav-param {
      display: flex;
      align-items: center;
      padding: 0 $nav-padding;

      &.-color {
        position: relative;
      }

      & + .nav-param {
        border-left: 1px solid $pale-grey;
      }

      .dropdown-item-legend-summary {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        > .color {
          flex-grow: 1;
          height: 5px;

          @for $i from 1 through length($qual-colors) {
            &.#{nth($qual-colors-names, $i)} {
              background-color: #{nth($qual-colors, $i)};
            }
          }

          @for $i from 1 through length($flow-colors) {
            &.#{nth($flow-colors-names, $i)} {
              background-color: #{nth($flow-colors, $i)};
            }
          }
        }
      }

      .icon-search {
        width: 21px;
        height: 22px;
        fill: $charcoal-grey;
      }
    }

    &.is-hidden + .miscellaneous-nav  {
      > .-bookmark {
        display: none;
      }
    }
  }

  > .miscellaneous-nav {
    display: flex;

    .miscellaneous-item {
      position: relative;
      border-left: 1px solid $pale-grey;

      cursor: pointer;

      &:hover {
        background-color: $manilla;
      }

      .miscellaneous-item-title {
        padding: 20px;
      }
    }
  }
}
