<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <div class="l-contact">

  <%= htmlWebpackPlugin.options.nav %>

  <h1>FAQ page (WIP)</h1>

  <%= htmlWebpackPlugin.options.footer %>
  <%= htmlWebpackPlugin.options.icons %>
</body>
</html>
