<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <div class="loading-wrapper">
  <%= htmlWebpackPlugin.options.nav %>
  <div class="l-faq">
    <div class="wrap">
      <div class="cut -top"></div>
      <div class="c-anchor-list js-anchor-nav">
        <ul class="anchor-list">
          <li class="anchor-item -selected">
            <a href="#what-is-trase">What is Trase?</a>
          </li>
          <li class="anchor-item">
            <a href="#trase-platform-do">What does the Trase platform do?</a>
          </li>
          <li class="anchor-item">
            <a href="#countries-commmodities-future">Will you cover other countries and commodities in the future?</a>
          </li>
          <li class="anchor-item">
            <a href="#trase-cover-exports">Does the Trase platform only cover exports?</a>
          </li>
          <li class="anchor-item">
            <a href="#diagram-tangled">What is that diagram that looks like a tangled ball of string?</a>
          </li>
          <li class="anchor-item">
            <a href="#trase-work">How does the Trase platform  work?</a>
          </li>
          <li class="anchor-item">
            <a href="#download-data">Can I download the Trase data?</a>
          </li>
          <li class="anchor-item">
            <a href="#trase-evolving-capabilities">How do I find out more about Trase and its evolving capabilities?</a>
          </li>
          <li class="anchor-item">
            <a href="#get-involved">How can I get involved?</a>
          </li>
          <li class="anchor-item">
            <a href="#who-is-behind-trase">Who is behind Trase?</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <h2 id="what-is-trase" class="title -medium -pink">What is Trase?</h2>
        <p class="paragraph">
          Trase is a powerful new sustainability platform that enables governments, companies,
          investors and others to better understand and address the environmental and social
          impacts linked to their supply chains.
        </p>
        <p class="paragraph">
          Its pioneering approach draws on vast sets of production, trade and customs data,
          for the first time laying bare the flows of globally-traded
          commodities - such as palm oil, soya, beef and timber - at scale.
        </p>
        <p class="paragraph">
          Trase is a direct response to the ambitious commitments made by leaders across sectors
          to achieve deforestation-free supply chains by 2020 - and the urgent need this creates
          for a breakthrough in assessing and monitoring sustainability performance.
        </p>

        <h2 id="trase-platform-do" class="title -medium -pink">What does the Trase platform do?</h2>
        <p class="paragraph">
          Trase tracks exports of commodities from the municipality of production, via the local traders,
          ports of export, and importing companies, to the countries of consumption. These unique
          capabilities allow users to “zoom out” to get an overview of the fate of a whole commodity,
          from an entire producer country and to “zoom in” right down to the level of individual municipalities,
          actors and importing countries, and their related supply chains.
        </p>
        <p class="paragraph">
          Trase cross-references this with site-specific information on risks, including conservation status,
          GHG emissions from land-use, biodiversity risks or zero deforestation commitments, as well as
          data on social and governance conditions that can be used to help identify how to improve the
          situation on the ground. Trase also provides information on key characteristics of supply chain
          actors including whether they have zero deforestation commitments and the strength of those commitments – information
          that can be cross-referenced with information on the regions they are sourcing from.
        </p>
        <p class="paragraph">
          For now data in the Trase beta platform covers soy exported from Brazil.
        </p>

        <h2 id="countries-commmodities-future" class="title -medium -pink">Will you cover other countries and commodities in the future?</h2>
        <p class="paragraph">
          Absolutely. The platform is currently focused on the supply chains of agricultural commodities
          associated with deforestation risk and their impacts on land and water use,
          biodiversity, greenhouse gas emissions and rural development.
        </p>
        <p class="paragraph">
          From 2017, Trase will focus on expanding to include all Latin American soy, followed by beef
          in Argentina, Brazil and Paraguay, and on to other major commodities including
          Brazilian timber and Indonesian oil palm. Further commodities and countries will be brought online
          on a rolling basis, with the implementation of different levels of detail in supply chain
          mapping dependent on funding and data availability.
        </p>

        <h2 id="trase-cover-exports" class="title -medium -pink">Does the Trase platform only cover exports?</h2>
        <p class="paragraph">
          For now Trase only accounts for commodity exports. We aim to cover domestic consumption in future
          years through improved domestic traceability systems and partnerships with other transparency initiatives.
        </p>

        <h2 id="diagram-tangled" class="title -medium -pink">What is that diagram that looks like a tangled ball of string?</h2>
        <p class="paragraph">
          The Trase platform represents flows of commodities using Sankey diagrams. Invented by an Irish ship captain,
          Matthew Sankey, Sankey diagrams have been in use for over 100 years. First used to show how steam
          flowed through steam engines and points for improved efficiencies, they have also been used to map
          trade flows and even the loss of soldiers through a series of battles in Napoleon's Russian campaign.
          We use Sankey diagrams in Trase because they can show not only the direction but also the scale of flows
          between points in the supply chain in an intuitive way. The interactive Sankeys were developed by
          researchers at the Stockholm Environment Institute in partnership with Vizzuality. They allow users to
          customize the Sankey diagram to show material flows according to a particular node or set of nodes in the chain,
          or particular characteristics of the material flow.
        </p>

        <h2 id="trase-work" class="title -medium -pink">How does the Trase platform work?</h2>
        <p class="paragraph">
          The Trase platform is based on the Spatially Explicit Information of Production to Consumption
          Systems (SEI-PCS) approach to mapping commodity supply chains. SEI-PCS processes publically available tax,
          logistics customs and shipping data, making it possible to trace material flows from the municipality of
          origin, through traders and exporters, to the country of consumption. SEI-PCS was developed
          by SEI – for more information see the Data and Methods section.
        </p>

        <h2 id="download-data" class="title -medium -pink">Can I download the Trase data?</h2>
        <p class="paragraph">
          We plan to make the data visualized on Trase freely available for download and
          use. If you sign up for the newsletter(in the footer of this page) we will
          let you know when this is available.
        </p>

        <h2 id="trase-evolving-capabilities" class="title -medium -pink">How do I find out more about Trase and its evolving capabilities?</h2>
        <p class="paragraph">
          Please sign up for our newsletter in the footer of this page.
          We promise not to send lots of emails, just significant new announcements.
        </p>

        <h2 id="get-involved" class="title -medium -pink">How can I get involved?</h2>
        <p class="paragraph">
          We are actively seeking to build relationships with new partner institutions and funders to
          further the development and applications of the platform to include new countries,
          commodities, capabilities and data - and to identify concrete opportunities for mainstreaming
          uptake of Trase.
        </p>
        <p class="paragraph">
          Work on Trase has also helped establish the Supply Chain Transparency Network, a learning and
          knowledge exchange community of practitioner organizations working on transparency
          for supply chain sustainability.
        </p>
        <p class="paragraph">Contact us at <a  class="-bold"href="mailto:info@trase.org">info@trase.org</a>.
        </p>

        <h2 id="who-is-behind-trase" class="title -medium -pink">Who is behind Trase?</h2>
        <p class="paragraph">
          Trase is a partnership between the Stockholm Environment Institute and the Global Canopy Programme.
          We work closely with Vizzuality, the European Forest Institute, and many other partners.
        </p>

        <p class="paragraph">
          These include Agrosatelite, Both ENDS, BV Rio, CDP, Chalmers University, Conservation International,
          Gibbs Land Use and Environment Laboratory at Wisconsin University, International Institute for
          Sustainability, Imaflora, InfoAmazonia, León University, Louvain University, Luc Hoffman Institute,
          The Nature Conservancy, Transitions, University of Brasilia, University of Bonn, University of
          Sao Paulo, World Conservation Monitoring Centre, World Resources Institute, and WWF.
        </p>

        <p class="paragraph">
          Trase is made possible through the generous funding of the European Union, The Nature Conservancy,
          The Gordon and Betty Moore Foundation, The Swedish Research Institute Formas,
          and the UK Department for International Development
        </p>
      </div>
    </div>
    <div class="cut -bottom"></div>
  </div>
  <%= htmlWebpackPlugin.options.footer %>
  </div>

  <%= htmlWebpackPlugin.options.scripts %>
</body>
</html>
