<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>

  <div id="nav" class="section">
    <label class="dropdown" data-dropdown="country">
      <span class="dropdown-label">Country</span>
      <span class=" js-dropdown-title dropdown-title">
        Country
      </span>
      <ul class="js-dropdown-list dropdown-list">
        <li class="js-dropdown-item dropdown-item">Brazil</li>
      </ul>
    </label>
    <label class="dropdown" data-dropdown="indicator">
      <span class="dropdown-label">Resize by</span>
      <span class=" js-dropdown-title dropdown-title">
        Resize by
      </span>
      <ul class="js-dropdown-list dropdown-list">
        <li class="js-dropdown-item dropdown-item" data-value="Volume">Trade volume</li>
        <li class="js-dropdown-item dropdown-item" data-value="Deforestation risk">Deforestation risk</li>
        <li class="js-dropdown-item dropdown-item dropdown-item--disabled">Water footprint</li>
        <li class="js-dropdown-item dropdown-item dropdown-item--disabled">Land-based emissions</li>
        <li class="js-dropdown-item dropdown-item dropdown-item--disabled">Financial flows</li>
      </ul>
    </label>
  </div>

  <div id="map" class="section">
    <div class="map-legend">
      this the map legend
    </div>
  </div>

  <svg id="sankey" class="section">
    <g class="sankey-container">
      <rect classs="sankey-bg"></rect>
      <g class="sankey-layers"></g>
      <g class="sankey-clicked-links"></g>
      <g class="sankey-highlighted-links"></g>
    </g>
  </svg>

  <svg id="timeline" class="section"></svg>

  <svg id="chord" class="section"></svg>

  <%= htmlWebpackPlugin.options.footer %>
</body>
</html>
