<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <div class="l-flows">
    <div id="nav" class="c-nav is-absolute">
      <div class="menu">
        <div class="burger">
          <span class="burger-ingredient"></span>
          <span class="burger-ingredient"></span>
          <span class="burger-ingredient"></span>
        </div>
      </div>

      <div class="c-nav-param">
        <div class="c-dropdown" data-dropdown="country">
          <span class="dropdown-label">Country</span>
          <span class="js-dropdown-title dropdown-title">
            Country
          </span>
          <ul class="js-dropdown-list dropdown-list">
            <li class="js-dropdown-item dropdown-item" data-value="brazil">Brazil</li>
            <li class="js-dropdown-item dropdown-item" data-value="columbia">Columbia</li>
          </ul>
        </div>
      </div>

      <div class="c-nav-param">
        <div class="c-dropdown" data-dropdown="quant">
          <span class="dropdown-label">Resize by</span>
          <span class="js-dropdown-title dropdown-title">
            Resize by
          </span>
          <ul class="js-dropdown-list dropdown-list">
            <li class="js-dropdown-item dropdown-item" data-value="Volume">Trade volume</li>
            <li class="js-dropdown-item dropdown-item" data-value="Deforestation risk">Deforestation risk</li>
            <li class="js-dropdown-item dropdown-item dropdown-item--disabled">Water footprint</li>
            <li class="js-dropdown-item dropdown-item dropdown-item--disabled">Land-based emissions</li>
            <li class="js-dropdown-item dropdown-item dropdown-item--disabled">Financial flows</li>
          </ul>
        </div>
      </div>

      <ul class="c-nav-right">
        <li class="c-nav-right-filter js-bookmark" data-dropdown="bookmark">
          <div class="c-nav-right-filter-title js-dropdown-title">
            <svg class="icon icon-bookmark"><use xlink:href="#icon-bookmark"></use></svg>
          </div>
          <div class="c-bookmark-dropdown js-dropdown-list">
            <ul class="bookmark-list"></ul>
            <div class="bookmark-btn-container">
              <button class="c-button add-bookmark">+ add a new bookmark</button>
            </div>
          </div>
        </li>
        <li class="c-nav-right-filter js-share" data-dropdown="share">
          <div class="c-nav-right-filter-title js-dropdown-title">
            <svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg>
          </div>
          <div class="c-share-dropdown js-dropdown-list"></div>
        </li>
      </ul>
    </div>

    <div id="map" class="c-map is-absolute">
      <div class="c-map-legend is-absolute">
        this the map legend
      </div>
    </div>

    <svg id="sankey" class="c-sankey is-absolute">
      <g class="sankey-container">
        <rect classs="sankey-bg"></rect>
        <g class="sankey-columns">
          <g class="sankey-column">
            <g class="sankey-nodes"></g>
          </g>
          <g class="sankey-column">
            <g class="sankey-nodes"></g>
          </g>
          <g class="sankey-column">
            <g class="sankey-nodes"></g>
          </g>
          <g class="sankey-column">
            <g class="sankey-nodes"></g>
          </g>
        </g>
        <g class="sankey-links"></g>
      </g>
    </svg>

    <%= htmlWebpackPlugin.options.footer %>
  </div>
  <%= htmlWebpackPlugin.options.icons %>
</body>
</html>
