<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <div class="l-flows">
    <div id="nav" class="c-nav is-absolute">
      <div class="menu">
        <div class="burger">
          <span class="burger-ingredient"></span>
          <span class="burger-ingredient"></span>
          <span class="burger-ingredient"></span>
        </div>
      </div>

      <div class="left-side">
        <div class="c-nav-param">
          <div class="c-dropdown" data-dropdown="country">
            <span class="dropdown-label">Country</span>
            <span class="js-dropdown-title dropdown-title">
              Country
            </span>
            <ul class="js-dropdown-list dropdown-list">
              <li class="js-dropdown-item dropdown-item" data-value="brazil">Brazil</li>
              <li class="js-dropdown-item dropdown-item" data-value="columbia">Columbia</li>
            </ul>
          </div>
        </div>

        <div class="c-nav-param">
          <div class="c-dropdown" data-dropdown="commodity">
            <span class="dropdown-label">Commodity</span>
            <span class="js-dropdown-title dropdown-title">
              Soy
            </span>
            <ul class="js-dropdown-list dropdown-list">
              <li class="js-dropdown-item dropdown-item" data-value="soy">Sugar</li>
            </ul>
          </div>
        </div>

        <div class="c-nav-param">
          <div class="c-dropdown" data-dropdown="years">
            <span class="dropdown-label">years</span>
            <span class="js-dropdown-title dropdown-title">
              2015
            </span>
            <ul class="js-dropdown-list dropdown-list">
              <div class="js-years-slider c-years-slider"></div>
            </ul>
          </div>
        </div>
      </div>

      <div class="right-side">
        <div class="c-nav-param">
          <div class="c-dropdown" data-dropdown="quant">
            <span class="dropdown-label">Resize by</span>
            <span class="js-dropdown-title dropdown-title">
              Resize by
            </span>
            <ul class="js-dropdown-list dropdown-list">
              <li class="js-dropdown-item dropdown-item" data-value="Volume">Trade volume</li>
              <li class="js-dropdown-item dropdown-item" data-value="Deforestation risk">Deforestation risk</li>
              <li class="js-dropdown-item dropdown-item dropdown-item--disabled">Water footprint</li>
              <li class="js-dropdown-item dropdown-item dropdown-item--disabled">Land-based emissions</li>
              <li class="js-dropdown-item dropdown-item dropdown-item--disabled">Financial flows</li>
            </ul>
          </div>
        </div>

        <div class="c-nav-param -color">
          <div class="c-dropdown" data-dropdown="color">
            <span class="dropdown-label">Recolour by</span>
            <span class="js-dropdown-title dropdown-title">
              Biome
            </span>
            <ul class="js-dropdown-list dropdown-list">
              <li class="js-dropdown-item dropdown-item" data-value="1">Rainbow</li>
              <li class="js-dropdown-item dropdown-item" data-value="2">Ponies</li>
            </ul>
          </div>
          <div class="color-flag">
            <div class="color -left"></div>
            <div class="color -right"></div>
          </div>
        </div>

        <div class="c-nav-param">
          <div class="c-dropdown" data-dropdown="view">
            <span class="dropdown-label">Change view</span>
            <span class="js-dropdown-title dropdown-title">
              Overview
            </span>
            <ul class="js-dropdown-list dropdown-list">
              <li class="js-dropdown-item dropdown-item" data-value="1">Overview</li>
              <li class="js-dropdown-item dropdown-item" data-value="2">Details</li>
            </ul>
          </div>
        </div>

        <ul class="miscellaneous-nav">
          <li class="miscellaneous-item js-bookmark" data-dropdown="bookmark">
            <div class="miscellaneous-item-title js-dropdown-title">
              <svg class="icon icon-bookmark"><use xlink:href="#icon-bookmark"></use></svg>
            </div>
            <div class="c-bookmark-dropdown js-dropdown-list">
              <ul class="bookmark-list"></ul>
              <div class="bookmark-btn-container">
                <button class="c-button add-bookmark">+ add a new bookmark</button>
              </div>
            </div>
          </li>
          <li class="miscellaneous-item js-share" data-dropdown="share">
            <div class="miscellaneous-item-title js-dropdown-title">
              <svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg>
            </div>
            <div class="c-share-dropdown js-dropdown-list"></div>
          </li>
        </ul>
      </div>
    </div>


    <div id="map" class="c-map is-absolute">
      <div class="c-map-legend is-absolute">
        this the map legend
      </div>
    </div>

    <div class="c-sankey is-absolute js-sankey">
      <div class="c-loading js-loading">
        Loading...
      </div>
      <svg class="js-sankey-canvas sankey">
        <g class="sankey-container">
          <rect classs="sankey-bg"></rect>
          <g class="sankey-columns">
            <g class="sankey-column">
              <g class="sankey-nodes"></g>
            </g>
            <g class="sankey-column">
              <g class="sankey-nodes"></g>
            </g>
            <g class="sankey-column">
              <g class="sankey-nodes"></g>
            </g>
            <g class="sankey-column">
              <g class="sankey-nodes"></g>
            </g>
          </g>
          <g class="sankey-links"></g>
        </g>
      </svg>
    </div>

    <%= htmlWebpackPlugin.options.footer %>
  </div>
  <%= htmlWebpackPlugin.options.icons %>
</body>
</html>
