<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <div class="l-flows">
    <div id="nav" class="c-nav is-absolute">
      <div class="menu">
        <div class="burger">
          <span class="burger-ingredient"></span>
          <span class="burger-ingredient"></span>
          <span class="burger-ingredient"></span>
        </div>
      </div>

      <div class="left-side">
        <div class="c-nav-param">
          <div class="c-dropdown" data-dropdown="country">
            <span class="dropdown-label">Country</span>
            <span class="js-dropdown-title dropdown-title">
              -
            </span>
            <ul class="js-dropdown-list dropdown-list">
              <li class="js-dropdown-item dropdown-item" data-value="brazil">Brazil</li>
              <li class="js-dropdown-item dropdown-item">Columbia</li>
            </ul>
          </div>
        </div>

        <div class="c-nav-param">
          <div class="c-dropdown" data-dropdown="commodity">
            <span class="dropdown-label">Commodity</span>
            <span class="js-dropdown-title dropdown-title">
              -
            </span>
            <ul class="js-dropdown-list dropdown-list">
              <li class="js-dropdown-item dropdown-item" data-value="soy">Soy</li>
              <li class="js-dropdown-item dropdown-item">Coffee</li>
            </ul>
          </div>
        </div>

        <div class="c-nav-param">
          <div class="c-dropdown" data-dropdown="years">
            <span class="dropdown-label">years</span>
            <span class="js-dropdown-title dropdown-title">
              -
            </span>
            <ul class="js-dropdown-list dropdown-list">
              <div class="js-years-slider c-years-slider"></div>
            </ul>
          </div>
        </div>

      </div>

      <div class="right-side">
        <div class="c-nav-param">
          <div class="c-dropdown -small" data-dropdown="quant">
            <span class="dropdown-label">Resize by</span>
            <span class="js-dropdown-title dropdown-title">
              -
            </span>
            <ul class="js-dropdown-list dropdown-list">
              <li class="js-dropdown-item dropdown-item" data-value="Volume">Trade volume</li>
              <li class="js-dropdown-item dropdown-item" data-value="Deforestation risk">Deforestation risk</li>
              <li class="js-dropdown-item dropdown-item dropdown-item--disabled">Water footprint</li>
              <li class="js-dropdown-item dropdown-item dropdown-item--disabled">Land-based emissions</li>
              <li class="js-dropdown-item dropdown-item dropdown-item--disabled">Financial flows</li>
            </ul>
          </div>
        </div>

        <div class="c-nav-param -color js-qual-dropdown">
          <div class="c-dropdown -small" data-dropdown="qual">
            <span class="dropdown-label">Recolour by</span>
            <span class="js-dropdown-title dropdown-title">
              -
            </span>
            <ul class="js-dropdown-list dropdown-list -large">
              <li class="js-dropdown-item dropdown-item" data-value="none">None</li>
              <li class="js-dropdown-item dropdown-item" data-value="Biome">
                <div class="js-dropdown-item-title dropdown-item-title">Biome</div>
                <ul class="dropdown-item-legend -qual js-dropdown-item-legend">
                  <li class="-qual-biome-0">Amazon</li>
                  <li class="-qual-biome-1">Cerrado</li>
                  <li class="-qual-biome-2">Atlantic Forest</li>
                  <li class="-qual-biome-3">Caatinga</li>
                  <li class="-qual-biome-4">Pampa</li>
                  <li class="-qual-biome-5">Pantanal</li>
                </ul>
              </li>
              <li class="js-dropdown-item dropdown-item" data-value="F500">
                <div class="js-dropdown-item-title dropdown-item-title">F500 Score</div>
                <ul class="dropdown-item-legend -stars js-dropdown-item-legend">
                  <li class="-qual-f500-0"></li>
                  <li class="-qual-f500-1"></li>
                  <li class="-qual-f500-2"></li>
                  <li class="-qual-f500-3"></li>
                  <li class="-qual-f500-4"></li>
                </ul>
              </li>
              <li class="js-dropdown-item dropdown-item" data-value="deforestation">
                <div class="js-dropdown-item-title dropdown-item-title">Soy zero-deforestation commitment</div>
                <ul class="dropdown-item-legend -qual js-dropdown-item-legend">
                  <li class="-qual-zero-deforestation-true">Yes</li>
                  <li class="-qual-zero-deforestation-false">No</li>
                </ul>
              </li>
              <li class="js-dropdown-item dropdown-item" data-value="Water Scarcity">
                <div class="js-dropdown-item-title dropdown-item-title">Water Scarcity</div>
                <span class="dropdown-item-legend-unit">1</span>
                <ul class="dropdown-item-legend -linear js-dropdown-item-legend">
                  <li class="-qual-water-scarcity-0"></li><li
                   class="-qual-water-scarcity-1"></li><li
                   class="-qual-water-scarcity-2"></li><li
                   class="-qual-water-scarcity-3"></li><li
                   class="-qual-water-scarcity-4"></li><li
                   class="-qual-water-scarcity-5"></li><li
                   class="-qual-water-scarcity-6"></li>
                </ul>
                <span class="dropdown-item-legend-unit">7</span>
              </li>
              <li class="js-dropdown-item dropdown-item" data-value="Family farming dominance">
                <div class="js-dropdown-item-title dropdown-item-title">Family farming dominance</div>
                <span class="dropdown-item-legend-unit">0%</span>
                <ul class="dropdown-item-legend -linear js-dropdown-item-legend">
                  <li class="-qual-green-0"></li><li
                   class="-qual-green-1"></li><li
                   class="-qual-green-2"></li><li
                   class="-qual-green-3"></li><li
                   class="-qual-green-4"></li>
                </ul>
                <span class="dropdown-item-legend-unit">100%</span>
              </li>
              <li class="js-dropdown-item dropdown-item" data-value="Rural registry compliance (CAR)">
                <div class="js-dropdown-item-title dropdown-item-title">Rural registry compliance (CAR)</div>
                <span class="dropdown-item-legend-unit">0%</span>
                <ul class="dropdown-item-legend -linear js-dropdown-item-legend">
                  <li class="-qual-green-0"></li><li
                   class="-qual-green-1"></li><li
                   class="-qual-green-2"></li><li
                   class="-qual-green-3"></li><li
                   class="-qual-green-4"></li>
                </ul>
                <span class="dropdown-item-legend-unit">100%</span>
              </li>

            </ul>
          </div>
          <div class="dropdown-item-legend-summary js-dropdown-item-legend-summary">
            <!-- legend summary is filled in in nav.component.selectQual -->
          </div>
        </div>

        <div class="c-nav-param">
          <div class="c-dropdown -small" data-dropdown="view">
            <span class="dropdown-label">Change view</span>
            <span class="js-dropdown-title dropdown-title">
              -
            </span>
            <ul class="js-dropdown-list dropdown-list">
              <li class="js-dropdown-item dropdown-item" data-value="1">Summary</li>
              <li class="js-dropdown-item dropdown-item" data-value="2">Details</li>
            </ul>
          </div>
        </div>

        <ul class="miscellaneous-nav">
          <li class="miscellaneous-item js-bookmark" data-dropdown="bookmark">
            <div class="miscellaneous-item-title js-dropdown-title">
              <svg class="icon icon-bookmark"><use xlink:href="#icon-bookmark"></use></svg>
            </div>
            <div class="c-bookmark-dropdown js-dropdown-list">
              <ul class="bookmark-list"></ul>
              <div class="bookmark-btn-container">
                <button class="c-button add-bookmark">+ add a new bookmark</button>
              </div>
            </div>
          </li>
          <li class="miscellaneous-item js-share" data-dropdown="share">
            <div class="miscellaneous-item-title js-dropdown-title">
              <svg class="icon icon-share"><use xlink:href="#icon-share"></use></svg>
            </div>
            <div class="c-share-dropdown js-dropdown-list"></div>
          </li>
        </ul>
      </div>
    </div>

    <div class="c-titlebar">
      <div class="search js-search-container">

      </div>
      <div class="js-nodes-titles-container">
        <div class="c-nodes-titles js-nodes-titles"></div>
      </div>
    </div>

    <div class="flow-content">
      <div class="c-basemap-options is-absolute">
        <div class="explanation">
          <span class="explanation-text">choose one layer on each column to draw comparisons</span>
          <div class="chroropleth-distribution-sample">
            <div class="sample -vertical"></div>
            <div class="sample -horizontal"></div>
          </div>
        </div>
        <ul class="layer-list js-layer-list">
          <!-- this is rendered by map-layers.component -->
        </ul>

        <div class="explanation">
          <span class="explanation-text">contextual layers</span>
        </div>

        <ul class="layer-list js-layer-contextual">
          <li
            class="layer-item"
          >
            <span class="layer-name">soy infrastructure</span>
            <div
              class="c-switcher"
              data-layer-slug="soy_infrastructure">
            </div>
          </li>
          <li
            class="layer-item"
          >
            <span class="layer-name">protected areas</span>
            <div
              class="c-switcher"
              data-layer-slug="protected_areas">
            </div>
          </li>
          <li
            class="layer-item"
          >
            <span class="layer-name">land conflicts</span>
            <div
              class="c-switcher"
              data-layer-slug="land_conflicts">
            </div>
          </li>
          <li
            class="layer-item"
          >
            <span class="layer-name">forest code compliance</span>
            <div
              class="c-switcher"
              data-layer-slug="forest_code_compliance">
            </div>
          </li>
      </ul>
    </div>
    <div id="map" class="c-map is-absolute">
      <div class="btn-map -basemap js-basemap-switcher">
        <svg class="icon icon-layers"><use xlink:href="#icon-layers"></use></svg>
      </div>
      <div class="btn-map -toggle-map js-toggle-map"></div>
      <div class="c-map-legend is-absolute js-map-legend"></div>
    </div>

      <div class="c-sankey is-absolute js-sankey">
        <div class="c-loading js-loading">
          Loading...
        </div>
        <svg class="js-sankey-canvas sankey">
          <defs>
            <pattern id="isAggregatedPattern" x="0" y="0" width="1" height="3" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="50" height="1" fill="#ddd"/>
            </pattern>
          </defs>
          <g class="sankey-container">
            <rect class="sankey-bg"></rect>
            <g class="sankey-links"></g>
            <g class="sankey-columns">
              <g class="sankey-column">
                <g class="sankey-nodes"></g>
              </g>
              <g class="sankey-column">
                <g class="sankey-nodes"></g>
              </g>
              <g class="sankey-column">
                <g class="sankey-nodes"></g>
              </g>
              <g class="sankey-column">
                <g class="sankey-nodes"></g>
              </g>
            </g>
          </g>
        </svg>
        <div class="expand-button js-expand"></div>
      </div>

      <!--
      [2,1,0],  //1. Municipality / State / Biome
      [3,4],    //2. Port of export / Exporter
      [5,?],   //3. Importer / Port of import
      [6, ?],   //4. Country of Import / Country of consumption (???)
      -->
      <div class="c-columns-selector is-absolute">
      <div class="c-dropdown -column-selector" data-dropdown="column0">
        <span class="js-dropdown-title dropdown-title">select column</span>
        <ul class="js-dropdown-list dropdown-list">
          <li class="dropdown-item" data-value="2">Municipality</li>
          <li class="dropdown-item" data-value="1">State</li>
          <li class="dropdown-item" data-value="0">Biome</li>
        </ul>
      </div>
      <div class="c-dropdown -column-selector" data-dropdown="column1">
        <span class="js-dropdown-title dropdown-title">select column</span>
        <ul class="js-dropdown-list dropdown-list">
          <li class="dropdown-item" data-value="3">Port of export</li>
          <li class="dropdown-item" data-value="4">Exporter</li>
        </ul>
      </div>
      <div class="c-dropdown -column-selector" data-dropdown="column2">
        <span class="js-dropdown-title dropdown-title">select column</span>
        <ul class="js-dropdown-list dropdown-list">
          <li class="dropdown-item" data-value="5">Importer</li>
          <li class="dropdown-item">Port of import</li>
        </ul>
      </div>
      <div class="c-dropdown -column-selector" data-dropdown="column3">
        <span class="js-dropdown-title dropdown-title">select column</span>
        <ul class="js-dropdown-list dropdown-list">
          <li class="dropdown-item" data-value="6">Country of import</li>
          <li class="dropdown-item">Country of consumption</li>
        </ul>
      </div>
    </div>
    </div>
  </div>

  <%= htmlWebpackPlugin.options.scripts %>
  <%= htmlWebpackPlugin.options.icons %>

</body>
</html>
