<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <div class="l-flows">

    <%= htmlWebpackPlugin.options.nav %>

    <div class="c-titlebar">
      <div class="search js-search-container">
        <div class="c-search js-search">
          <label for="search-input">Search for:</label>
          <input class="js-search-input" id="search-input" />
        </div>
      </div>
      <div class="js-nodes-titles-container">
        <div class="c-nodes-titles js-nodes-titles"></div>
      </div>
    </div>

    <div class="flow-content">
      <div class="c-basemap-options is-absolute">
        <div class="explanation">
          <span class="explanation-text">choose one layer on each column to draw comparisons</span>
          <div class="chroropleth-distribution-sample">
            <div class="sample -vertical"></div>
            <div class="sample -horizontal"></div>
          </div>
        </div>
        <ul class="layer-list js-layer-list">
          <!-- this is rendered by map-layers.component -->
        </ul>

        <div class="explanation">
          <span class="explanation-text">contextual layers</span>
        </div>

        <ul class="layer-list js-layer-contextual">
          <li
            class="layer-item"
          >
            <span class="layer-name">soy infrastructure</span>
            <div
              class="c-switcher"
              data-layer-slug="soy_infrastructure">
            </div>
          </li>
          <li
            class="layer-item"
          >
            <span class="layer-name">protected areas</span>
            <div
              class="c-switcher"
              data-layer-slug="protected_areas">
            </div>
          </li>
          <li
            class="layer-item"
          >
            <span class="layer-name">land conflicts</span>
            <div
              class="c-switcher"
              data-layer-slug="land_conflicts">
            </div>
          </li>
          <li
            class="layer-item"
          >
            <span class="layer-name">forest code compliance</span>
            <div
              class="c-switcher"
              data-layer-slug="forest_code_compliance">
            </div>
          </li>
      </ul>
    </div>
    <div id="map" class="c-map is-absolute">
      <div class="btn-map -basemap js-basemap-switcher">
        <svg class="icon icon-layers"><use xlink:href="#icon-layers"></use></svg>
      </div>
      <div class="btn-map -toggle-map js-toggle-map"></div>
      <div class="c-map-legend is-absolute js-map-legend"></div>
    </div>

      <div class="c-sankey is-absolute js-sankey">
        <div class="c-loading js-loading">
          Loading...
        </div>
        <svg class="js-sankey-canvas sankey">
          <defs>
            <pattern id="isAggregatedPattern" x="0" y="0" width="1" height="3" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="50" height="1" fill="#ddd"/>
            </pattern>
          </defs>
          <g class="sankey-container">
            <rect class="sankey-bg"></rect>
            <g class="sankey-links"></g>
            <g class="sankey-columns">
              <g class="sankey-column">
                <g class="sankey-nodes"></g>
              </g>
              <g class="sankey-column">
                <g class="sankey-nodes"></g>
              </g>
              <g class="sankey-column">
                <g class="sankey-nodes"></g>
              </g>
              <g class="sankey-column">
                <g class="sankey-nodes"></g>
              </g>
            </g>
          </g>
        </svg>
      </div>

      <!--
      [2,1,0],  //1. Municipality / State / Biome
      [3,4],    //2. Port of export / Exporter
      [5,?],   //3. Importer / Port of import
      [6, ?],   //4. Country of Import / Country of consumption (???)
      -->
      <div class="c-columns-selector is-absolute">
      <div class="c-dropdown -column-selector" data-dropdown="column0">
        <span class="js-dropdown-title dropdown-title">select column</span>
        <ul class="js-dropdown-list dropdown-list">
          <li class="dropdown-item" data-value="2">Municipality</li>
          <li class="dropdown-item" data-value="1">State</li>
          <li class="dropdown-item" data-value="0">Biome</li>
        </ul>
      </div>
      <div class="c-dropdown -column-selector" data-dropdown="column1">
        <span class="js-dropdown-title dropdown-title">select column</span>
        <ul class="js-dropdown-list dropdown-list">
          <li class="dropdown-item" data-value="3">Port of export</li>
          <li class="dropdown-item" data-value="4">Exporter</li>
        </ul>
      </div>
      <div class="c-dropdown -column-selector" data-dropdown="column2">
        <span class="js-dropdown-title dropdown-title">select column</span>
        <ul class="js-dropdown-list dropdown-list">
          <li class="dropdown-item" data-value="5">Importer</li>
          <li class="dropdown-item">Port of import</li>
        </ul>
      </div>
      <div class="c-dropdown -column-selector" data-dropdown="column3">
        <span class="js-dropdown-title dropdown-title">select column</span>
        <ul class="js-dropdown-list dropdown-list">
          <li class="dropdown-item" data-value="6">Country of import</li>
          <li class="dropdown-item">Country of consumption</li>
        </ul>
      </div>
    </div>
    </div>
  </div>

  <%= htmlWebpackPlugin.options.scripts %>
  <%= htmlWebpackPlugin.options.icons %>

</body>
</html>
