<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <p>
    Welcome to TRASE :)
  </p>

  <p>
    <a href='./flows.html'>Bring me to the sankey page</a>
  </p>

  <%= htmlWebpackPlugin.options.footer %>
</body>
</html>
