<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <div class="loading-wrapper">
    <%= htmlWebpackPlugin.options.nav %>
    <div class="l-terms-of-use">
      <div class="wrap"></div>
    </div>
    <%= htmlWebpackPlugin.options.footer %>
  </div>

  <%= htmlWebpackPlugin.options.scripts %>
</body>
</html>
