<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <div class="loading-wrapper">
    <%= htmlWebpackPlugin.options.nav %>
    <div class="l-terms-of-use">
      <div class="wrap">
        <div class="content">
          <p class="paragraph">
            Trase is committed to providing the best available, highest quality data on global trade flows and associated sustainability
            information. The data used on Trase is a collection of publically available logistics,
            trade, export, and customs data, combined with social and environmental indicators from
            numerous sources. All of the data provided on Trase has been vetted for quality
            and accuracy. However, we are aware that some data may have limitations, even when coming
            from officially collected government sources. Trase will continue to improve the quality and
            accuracy of its data, and is committed to communicating these limitations transparently.
          </p>
          <p class="paragraph">
            Portions of the data used in the SEI-PCS approach that underpins Trase have been purchased
            from other data providers, and carry restrictions on sharing in certain formats. In all cases,
            Trase respects relevant terms of use in its analysis and repackaging of data.
          </p>

          <h2 class="title -medium -pink">Terms of use</h2>
            <p class="paragraph">
              By accessing the Trase platform you have acknowledged and agreed to our Terms of Service.
            </p>
            <p class="paragraph">
              You are free to use maps, graphics, charts, and other representations of data on the Trase website, under the Creative Commons CC BY 4.0 license.
            </p>
            <p class="paragraph">
              Licensing is determined for each individual data set, so please refer to the
              licensing text of each data set for detailed information
            </p>
            <p class="paragraph">
              You must not imply that Trase endorses your use of the data, or use the Trase logo in conjunction
              with such use. If you would like to use the Trase logo, please request permission.
            </p>

            <h2 class="title -medium -pink">Permissions & licensing</h2>
            <p class="paragraph">
              If using data, information, charts, graphs or maps from Trase, attribution is required. You must clearly attribute
              the work and provide a link back to www.trase.earth. Doing so also ensures that people can access the latest
              available information, in the event that the data is revised or additional relevant research is published.
            </p>
        </div>
      </div>
    </div>
    <%= htmlWebpackPlugin.options.footer %>
  </div>

  <%= htmlWebpackPlugin.options.scripts %>
</body>
</html>
