<% layers.forEach(function(layer) {%>
  <li class="map-sidebar-group-item js-map-context-item">
    <%= layer.human_name %>
    <div
      class="c-switcher"
      data-layer-slug="<%= layer.name %>">
    </div>
  </li>
<%});%>
