
.l-about {
  position: relative;
  padding: 88px 0 104px ;
  background-color: $manilla;

  > .wrap {
    position: relative;

    > .c-anchor-list {
      position: absolute;
      top: 0;
      width: $anchor-list-max-width;
    }

    .title {

      &:not(:first-child) {
        margin: 56px 0 0;
      }
    }

    > .content {
      width: calc(100% - #{$anchor-list-max-width});
      margin: 0 0 0 $anchor-list-max-width;
    }
  }

}
