@import '../settings';

.l-factsheet-actor {
  position: relative;
  min-height: calc(100vh - #{$nav-height});
  padding: 64px 0 96px;
  background-color: $pale-peach;

  &.-error {
    position: relative;
    min-height: calc(100vh - #{$nav-height});

    .c-error-message {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .content {
    max-width: $max-width-grid;
    margin: 0 auto;

    .c-area-select > .c-dropdown {
      margin: 0 0 0 72px;
    }
  }

  .container-top {
    display: flex;
    justify-content: space-between;
    margin: 56px 0 112px;

    > .c-top {
      width: calc(50% - 24px);
    }
  }

  .title {
    margin: 0 0 24px;

    font-family: $font-family-1;
    font-weight: $font-weight-bold;
    letter-spacing: -.6px;
    text-transform: uppercase;
  }

  .municipalities-table,
  .biome-table {
    margin: 24px 0 0;
  }
}
