@import '../settings';

.l-factsheet-place {
  position: relative;
  min-height: calc(100vh - #{$nav-height});
  padding: 64px 0 96px;
  background-color: $pale-peach;

  &.-error {
    position: relative;
    min-height: calc(100vh - #{$nav-height});

    .c-error-message {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .container {
    max-width: $content-max-width;
    margin: 0 auto;
  }

  .overall-map {

    > .map-list {
      display: flex;
    }

    > .map-list > .map-item {
      display: flex;
      flex-basis: calc(100% / 3);
      align-items: center;
    }
  }

  .overall-info {
    display: flex;
    margin: 56px 0 0;

    > .municipality-map {
      flex-basis: calc(100% / 3);
    }

    > .municipality-data {

      > .selectors  {
        display: flex;

        .c-dropdown {
          &:not(:first-child) {
            margin: 0 0 0 40px;
          }

          > .dropdown-label {
            margin: 0 0 10px;

            font-size: $font-size-x-regular;
          }

          > .dropdown-title {
            font-size: $font-size-huge;
          }
        }
      }

      > .stats {
        margin: 24px 0 0;

        > .stat-list {
          display: flex;
        }

        > .stat-list > .stat-item {
          &:not(:first-child) {
            margin: 0 0 0 40px;
          }

          > .legend {
            margin: 0 0 4px;

            color: $charcoal-grey;
            font-family: $font-family-1;
            font-size: $font-size-x-regular;
            font-weight: $font-weight-bold;
            letter-spacing: -.6px;
            line-height: 1.2;
            text-transform: uppercase;
          }

          > .value {
            display: inline-block;

            color: $charcoal-grey;
            font-family: $font-family-1;
            font-size: $font-size-medium;
            letter-spacing: -1px;
          }

          > .unit {
            display: inline-block;
            color: rgba($charcoal-grey, .6);
            font-family: $font-family-1;
            font-size: $font-size-medium;
          }
        }
      }
    }
  }

  .title {
    font-family: $font-family-1;
    font-weight: $font-weight-bold;
    letter-spacing: -.6px;
    text-transform: uppercase;
  }

  .deforestation {
    max-width: $content-max-width;
    margin: 80px auto 64px;
  }

  .chords-container {
    display: flex;
    align-items: center;

    > .c-chord {
      flex-basis: 60%;
    }

    > .c-top {
      flex-basis: 40%;
    }

    &.-traders {
      margin: 32px auto 0;
    }

    &.-consumers {
      flex-direction: row-reverse;
      margin: 24px auto 0;
    }
  }

  .score-table {
    margin-top: 72px;
  }

  .js-table-consumers,
  .js-table-traders {
    padding-left: 8px;
  }
}
