@import '../base';
@import '../settings';

// todo move this to a page style scss
body, html {
  background: $background-white;
  overflow: hidden;
}

.l-flows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  > .c-nav {
    width: 100%;
    height: $nav-height;

    .dropdown-list {
      top: $nav-height;
    }
  }

  > .c-titlebar {
    position: absolute;
    top: $nav-height;
    width: 100%;
  }

  > .flow-content {
    position: absolute;
    top: $flow-content-y;
    left: 0;
    width: calc(100% + #{$layer-map-width});
    height: calc(100% - #{$flow-content-y});

    transform: translate(-$layer-map-width, 0);
    transition: transform .15s $ease-in-out-sine, width .15s $ease-in-out-sine;
    background-color: $gray;

    overflow: hidden;

    &.-center-map {
      transform: translate(-310px, 0);

      > .c-sankey,
      >.c-columns-selector {
        left: 90%;
      }
    }

    &.-open {
      width: 100%;
      transform: translate(0, 0);
    }

    > .c-basemap-options {
      top: 0;
      width: 320px;
      height: 100%;
    }

    > .c-map {
      left: $layer-map-width;
      width: 320px;
      height: 100%;

      transition: width .45s $ease-in-out-sine;

      &.-fullscreen {
        width: calc(90% - 320px);
      }

      > .c-map-legend {
        right: 0;
        bottom: 0;
        padding: 16px;
      }
    }

    > .c-sankey {
      left: 640px;
      width: calc(100% - #{640 + 96}px);
      height: calc(100% - 50px);
      margin: 0 48px;
      transition: left .45s $ease-in-out-sine;

      .sankey {
        width: 100%;
        height: 100%;
      }
    }

    > .c-columns-selector {
      bottom: 12px;
      left: 640px;
      width: calc(100% - 640px);
    }
  }
}
