@import '../base';
@import '../settings';
@import '../components/shared/tooltip';

// todo move this to a page style scss
body, html {
  background: $background-white;
  overflow: hidden;
}

.l-flows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  > .c-nav {
    width: 100%;
    height: $nav-height;

    .dropdown-list {
      top: $nav-height;
    }
  }

  > .c-titlebar {
    position: absolute;
    top: $nav-height;
    width: 100%;
    z-index: 1;

    .search {
      padding-top: 16px;
    }
  }

  > .flow-content {
    position: absolute;
    top: $flow-content-y;
    left: 0;
    width: calc(100% + #{$layer-map-width});
    height: calc(100% - #{$flow-content-y});

    transform: translate(-$layer-map-width, 0);
    transition: transform .15s $ease-in-out-sine, width .15s $ease-in-out-sine;
    z-index: 2;

    &.-center-map {
      transform: translate(-310px, 0);

      > .c-sankey,
      >.c-columns-selector {
        left: 90%;
      }
    }

    &.-open {
      width: 100%;
      transform: translate(0, 0);
    }

    > .c-basemap-options {
      top: 0;
      width: 320px;
      height: 100%;
      overflow-y: auto;
    }

    > .c-map {
      left: $layer-map-width + 8px;
      width: 320px;
      height: calc(100% - 8px);

      transition: width .45s $ease-in-out-sine;

      &.-fullscreen {
        width: calc(90% - 320px);
      }

      > .c-map-legend {
        right: 0;
        bottom: 0;
        padding: 16px;
      }
    }

    > .c-sankey {
      top: -15px;
      left: 648px;
      width: calc(100% - #{648px + 10px});
      height: calc(100% - 38px);
      margin-left: $sankey-x-padding;
      transition: left .45s $ease-in-out-sine;

      .sankey {
        width: 100%;
        height: 100%;
      }

      &.-detailed {
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }

    > .c-columns-selector {
      bottom: 12px;
      left: 648px;
      width: calc(100% - 648px);
    }
  }

  .js-nodes-titles-container {
    display: flex;
    justify-content: space-between;

    .contain-button-discard {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 16px;

      span {
        color: rgba($charcoal-grey, .6);
        font-family: $font-family-1;
        font-size: $font-size-small;
        letter-spacing: -.5px;
        text-transform: uppercase;
      }

      .icon {
        width: 20px;
        height: 20px;
        margin-top: 8px;
        cursor: pointer;
      }
    }
  }
}
