
// layout
$nav-height: 56px;
$titlebar-height: 64px;
$flow-content-y: $nav-height + $titlebar-height;
$layer-map-width: 320px;

// colors
$black: #000;
$charcoal-grey: #34444c;
$medium-pink: #ea6869;
$manilla: #ffeb8b;
$orange: #ffa500;
$pale-grey: #e0e4e8;
$pinkish-grey: #c7c7c7;
$pinkish-grey-two: #cbcbcb;
$white: #fff;
$white-transparent: rgba(255, 255, 255, .5);
$background-white: #E8E8E8;
$white-two: #f4f3f3;
$background-white: #e8e8e8;

$beige: #f5f3ea;
$blush: #f6c7ad;
$cloudy-blue: #aadad1;
$light-grey-blue: #8db6ca;
$warm-pink: #f65e6e;

// typography
$font-family-1: 'DecimaMonoPro', sans-serif;
$font-family-2: 'Merriweather', serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-small: 10px;
$font-size-regular: 12px;
$font-size-x-regular: 13px;
$font-size-medium: 18px;
$font-size-big: 24px;
