
// layout
$nav-height: 56px;
$titlebar-height: 56px;
$map-width: 320px;
$layer-map-width: 376px;
$content-max-width: 1040px;
$anchor-list-max-width: calc(100% / 3);
$max-width-grid: 1280px;
$nav-padding: 18px;
$sankey-x-margin: 15px;

$padding-wrap-mobile: 24px;
$padding-wrap-tablet: 80px;
$padding-wrap-desktop: 120px;


// colors
$background-white: #f3f3f3;
$black: #000;
$blue-map: #00f;
$charcoal-grey: #34444c;
$charcoal-grey-faded: rgba($charcoal-grey, .6);
$gray: #ebebeb;
$medium-pink: #ea6869;
$medium-pink-faded: lighten($medium-pink, 20%);
$manilla: #ffeb8b;
$egg-shell: #fff0c2;
$orange: #ffa500;
$pale-grey: #e0e4e8;
$pale-peach: #fff1ae;
$pinkish-grey: #c7c7c7;
$medium-grey: #aaa;
$pinkish-grey-two: #cbcbcb;
$silver: #dbe0e5;
$white: #fff;
$white-two: #f4f3f3;

$beige: #f5f3ea;
$blush: #f6c7ad;
$cloudy-blue: #aadad1;
$light-grey-blue: #8db6ca;
$warm-pink: #f65e6e;

$flow-1: $medium-pink;
$flow-2: $manilla;
$flow-3: #2d586e;
$flow-4: #007d29;
$flow-5: #b4008a;
$flow-6: #06ff67;
$flow-7: #8339aa;
$flow-8: #f3fb00;
$flow-9: #7193ff;
$flow-10: #b27200;

$qual-biome-amazonia: #43f3f3;
$qual-biome-cerrado: #517fee;
$qual-biome-mata-atlantica: #8c28ff;
$qual-biome-caatinga: #ff66e5;
$qual-biome-pampa: #72ea28;
$qual-biome-pantanal: #ffb314;

$ind-forest_500-0: #e3a9a9;
$ind-forest_500-1: #f4bda5;
$ind-forest_500-2: #c2b5af;
$ind-forest_500-3: #92c5de;
$ind-forest_500-4: #4996c3;

$qual-zero_deforestation-yes: #a4e332;
$qual-zero_deforestation-no: #e36845;

$ind-water_scarcity-0: #d73027;
$ind-water_scarcity-1: #fc8d59;
$ind-water_scarcity-2: #fee090;
$ind-water_scarcity-3: #ffffbf;
$ind-water_scarcity-4: #e0f3f8;
$ind-water_scarcity-5: #91bfdb;
$ind-water_scarcity-6: #4575b4;

$ind-smallholders-0: #ffc;
$ind-smallholders-1: #c2e699;
$ind-smallholders-2: #78c679;
$ind-smallholders-3: #31a354;
$ind-smallholders-4: #006837;


$qual-colors: $qual-biome-amazonia, $qual-biome-cerrado, $qual-biome-mata-atlantica, $qual-biome-caatinga, $qual-biome-pampa, $qual-biome-pantanal, $ind-forest_500-0, $ind-forest_500-1, $ind-forest_500-2, $ind-forest_500-3, $ind-forest_500-4, $qual-zero_deforestation-yes, $qual-zero_deforestation-no, $ind-water_scarcity-0, $ind-water_scarcity-1, $ind-water_scarcity-2, $ind-water_scarcity-3, $ind-water_scarcity-4, $ind-water_scarcity-5, $ind-water_scarcity-6, $ind-smallholders-0, $ind-smallholders-1, $ind-smallholders-2, $ind-smallholders-3, $ind-smallholders-4;

$qual-colors-names: '-qual-biome-amazonia', '-qual-biome-cerrado', '-qual-biome-mata-atlantica', '-qual-biome-caatinga', '-qual-biome-pampa', '-qual-biome-pantanal', '-ind-forest_500-0', '-ind-forest_500-1', '-ind-forest_500-2', '-ind-forest_500-3', '-ind-forest_500-4', '-qual-zero_deforestation-yes', '-qual-zero_deforestation-no', '-ind-water_scarcity-0', '-ind-water_scarcity-1', '-ind-water_scarcity-2', '-ind-water_scarcity-3', '-ind-water_scarcity-4', '-ind-water_scarcity-5', '-ind-water_scarcity-6', '-ind-smallholders-0', '-ind-smallholders-1', '-ind-smallholders-2', '-ind-smallholders-3', '-ind-smallholders-4';

$flow-colors: $flow-1, $flow-2, $flow-3, $flow-4, $flow-5, $flow-6, $flow-7, $flow-8, $flow-9, $flow-10;

$flow-colors-names: '-flow-1', '-flow-2', '-flow-3', '-flow-4', '-flow-5', '-flow-6', '-flow-7', '-flow-8', '-flow-9', '-flow-10';
// typography
$font-family-1: 'DecimaMonoPro', 'Courier New', sans-serif;
$font-family-2: 'Merriweather', serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-small: 10px;
$font-size-regular: 12px;
$font-size-x-regular: 13px;
$font-size-xx-regular: 16px;
$font-size-medium: 18px;
$font-size-big: 24px;
$font-size-x-big: 32px;
$font-size-huge: 48px;

// Breakpoints
$breakpoint-mobile:  425px;
$breakpoint-tablet:  768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1280px;


// Animations
$ease-in-out-sine:  cubic-bezier(.445, .05, .55, .95);

// Miscellaneous
$box-shadow: 0 1px 3px 0 rgba($black, .1), 0 1px 2px 0 rgba($black, .2);
$box-shadow-big: 0 3px 6px 0 rgba($black, .1), 0 3px 6px 0 rgba($black, .2);

// choropleth
$ch-red-0: #f5f3ea;
$ch-red-1: #f5dfd0;
$ch-red-2: #f6c7ad;
$ch-red-3: #fa898d;
$ch-red-4: #f65e6e;

$ch-blue-0: #F4F1E7;
$ch-blue-1: #C8E1D8;
$ch-blue-2: #A0D5CB;
$ch-blue-3: #87B3C0;
$ch-blue-4: #7297AA;

$ch-bi-0-2: #8db6ca;
$ch-bi-1-2: #8f8d94;
$ch-bi-2-2: #694d52;
$ch-bi-0-1: #aadad1;
$ch-bi-1-1: #a8bebf;
$ch-bi-2-1: #a15661;
$ch-bi-0-0: #f5f3ea;
$ch-bi-1-0: #f6c7ad;
$ch-bi-2-0: #f65e6e;

$ch-no-meta: #c7c7c7;
$ch-no-meta-layer: #c7c7c7;
$ch-default: #c7c7c7;
