
// layout
$nav-height: 64px;
$titlebar-height: 56px;
$map-width: 320px;
$layer-map-width: 376px;
$content-max-width: 1040px;
$anchor-list-max-width: calc(100% / 3);
$max-width-grid: 1280px;
$nav-padding: 18px;
$sankey-x-margin: 15px;

$padding-wrap-mobile: 24px;
$padding-wrap-tablet: 80px;
$padding-wrap-desktop: 120px;


// colors
$background-white: #f3f3f3;
$black: #000;
$blue-map: #00f;
$charcoal-grey: #34444c;
$charcoal-grey-faded: rgba($charcoal-grey, .6);
$charcoal-grey-faded-a-lot: rgba($charcoal-grey, .2);
$gray: #DFDFDF;
$medium-pink: #ea6869;
$medium-pink-faded: lighten($medium-pink, 20%);
$manilla: #ffeb8b;
$egg-shell: #fff0c2;
$orange: #ffa500;
$pale-grey: #e0e4e8;
$pale-peach: #fff1ae;
$pinkish-grey: #c7c7c7;
$medium-grey: #aaa;
$pinkish-grey-two: #cbcbcb;
$silver: #dbe0e5;
$white: #fff;
$white-two: #f4f3f3;

$beige: #f5f3ea;
$blush: #f6c7ad;
$cloudy-blue: #aadad1;
$light-grey-blue: #8db6ca;
$warm-pink: #f65e6e;

$flow-1: $medium-pink;
$flow-2: $manilla;
$flow-3: #2d586e;
$flow-4: #007d29;
$flow-5: #b4008a;
$flow-6: #06ff67;
$flow-7: #8339aa;
$flow-8: #f3fb00;
$flow-9: #7193ff;
$flow-10: #b27200;

$qual-qual-thematic-amazonia: #43f3f3;
$qual-qual-thematic-cerrado: #517fee;
$qual-qual-thematic-mata-atlantica: #8c28ff;
$qual-qual-thematic-caatinga: #ff66e5;
$qual-qual-thematic-pampa: #72ea28;
$qual-qual-thematic-pantanal: #ffb314;

$ind-stars-red-blue-0: #e3a9a9;
$ind-stars-red-blue-1: #f4bda5;
$ind-stars-red-blue-2: #c2b5af;
$ind-stars-red-blue-3: #92c5de;
$ind-stars-red-blue-4: #4996c3;

$qual-qual-yes-no-yes: #a4e332;
$qual-qual-yes-no-no: #e36845;

$ind-linear-red-blue-0: #d73027;
$ind-linear-red-blue-1: #fc8d59;
$ind-linear-red-blue-2: #fee090;
$ind-linear-red-blue-3: #ffffbf;
$ind-linear-red-blue-4: #e0f3f8;
$ind-linear-red-blue-5: #91bfdb;
$ind-linear-red-blue-6: #4575b4;

$ind-linear-yellow-green-0: #ffc;
$ind-linear-yellow-green-1: #c2e699;
$ind-linear-yellow-green-2: #78c679;
$ind-linear-yellow-green-3: #31a354;
$ind-linear-yellow-green-4: #006837;

$ind-linear-blue-green-0: #3300E8;
$ind-linear-blue-green-1: #0D1AFF;
$ind-linear-blue-green-2: #0C52E8;
$ind-linear-blue-green-3: #0094FF;
$ind-linear-blue-green-4: #0CC6E8;
$ind-linear-blue-green-5: #0DFFE3;
$ind-linear-blue-green-6: #0CE8AF;
$ind-linear-blue-green-7: #0CE890;
$ind-linear-blue-green-8: #00FF52;
$ind-linear-blue-green-9: #4bff0f;
$ind-linear-blue-green-10: #9AE80C;

$qual-colors: $qual-qual-thematic-amazonia, $qual-qual-thematic-cerrado, $qual-qual-thematic-mata-atlantica, $qual-qual-thematic-caatinga, $qual-qual-thematic-pampa, $qual-qual-thematic-pantanal, $ind-stars-red-blue-0, $ind-stars-red-blue-1, $ind-stars-red-blue-2, $ind-stars-red-blue-3, $ind-stars-red-blue-4, $qual-qual-yes-no-yes, $qual-qual-yes-no-no, $ind-linear-red-blue-0, $ind-linear-red-blue-1, $ind-linear-red-blue-2, $ind-linear-red-blue-3, $ind-linear-red-blue-4, $ind-linear-red-blue-5, $ind-linear-red-blue-6, $ind-linear-yellow-green-0, $ind-linear-yellow-green-1, $ind-linear-yellow-green-2, $ind-linear-yellow-green-3, $ind-linear-yellow-green-4, $ind-linear-blue-green-0, $ind-linear-blue-green-1, $ind-linear-blue-green-2, $ind-linear-blue-green-3, $ind-linear-blue-green-4, $ind-linear-blue-green-5, $ind-linear-blue-green-6, $ind-linear-blue-green-7, $ind-linear-blue-green-8, $ind-linear-blue-green-9, $ind-linear-blue-green-10;

$qual-colors-names: '-qual-qual-thematic-amazonia', '-qual-qual-thematic-cerrado', '-qual-qual-thematic-mata-atlantica', '-qual-qual-thematic-caatinga', '-qual-qual-thematic-pampa', '-qual-qual-thematic-pantanal', '-ind-stars-red-blue-0', '-ind-stars-red-blue-1', '-ind-stars-red-blue-2', '-ind-stars-red-blue-3', '-ind-stars-red-blue-4', '-qual-qual-yes-no-yes', '-qual-qual-yes-no-no', '-ind-linear-red-blue-0', '-ind-linear-red-blue-1', '-ind-linear-red-blue-2', '-ind-linear-red-blue-3', '-ind-linear-red-blue-4', '-ind-linear-red-blue-5', '-ind-linear-red-blue-6', '-ind-linear-yellow-green-0', '-ind-linear-yellow-green-1', '-ind-linear-yellow-green-2', '-ind-linear-yellow-green-3', '-ind-linear-yellow-green-4', '-ind-linear-blue-green-0', '-ind-linear-blue-green-1', '-ind-linear-blue-green-2', '-ind-linear-blue-green-3', '-ind-linear-blue-green-4', '-ind-linear-blue-green-5', '-ind-linear-blue-green-6', '-ind-linear-blue-green-7', '-ind-linear-blue-green-8', '-ind-linear-blue-green-9', '-ind-linear-blue-green-10';

$flow-colors: $flow-1, $flow-2, $flow-3, $flow-4, $flow-5, $flow-6, $flow-7, $flow-8, $flow-9, $flow-10;

$flow-colors-names: '-flow-1', '-flow-2', '-flow-3', '-flow-4', '-flow-5', '-flow-6', '-flow-7', '-flow-8', '-flow-9', '-flow-10';
// typography
$font-family-1: 'DecimaMonoPro', 'Courier New', sans-serif;
$font-family-2: 'Merriweather', serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-small: 10px;
$font-size-regular: 12px;
$font-size-x-regular: 13px;
$font-size-xx-regular: 16px;
$font-size-medium: 20px;
$font-size-big: 24px;
$font-size-x-big: 32px;
$font-size-huge: 48px;

// Breakpoints
$breakpoint-mobile:  425px;
$breakpoint-tablet:  768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1280px;


// Animations
$ease-in-out-sine:  cubic-bezier(.445, .05, .55, .95);

// Miscellaneous
$box-shadow: 0 1px 3px 0 rgba($black, .1), 0 1px 2px 0 rgba($black, .2);
$box-shadow-big: 0 3px 6px 0 rgba($black, .1), 0 3px 6px 0 rgba($black, .2);

// choropleth
$ch-zero: $white;

$ch-red-0: #F5EEE3;
$ch-red-1: #F5B7AD;
$ch-red-2: #EF4F60;
$ch-red-3: #B41728;
$ch-red-4: #4F0008;

$ch-blue-0: #EAF2EB;
$ch-blue-1: #A1D9D5;
$ch-blue-2: #8DB6CA;
$ch-blue-3: #3881A4;
$ch-blue-4: #06425F;

$ch-bi-0-0: #F6F5ED;
$ch-bi-0-1: #AADAD1;
$ch-bi-0-2: #8DB6CA;
$ch-bi-1-0: #F6C7AD;
$ch-bi-1-1: #86A1A2;
$ch-bi-1-2: #726C7F;
$ch-bi-2-0: #F65E6E;
$ch-bi-2-1: #96555F;
$ch-bi-2-2: #443437;

$ch-no-meta: $gray;
$ch-no-meta-layer: $gray;
$ch-default: $gray;
