@import 'settings';

.paragraph {
  max-width: 720px;

  color: $charcoal-grey;
  font-family: $font-family-1;
  font-size: $font-size-xx-regular;
  letter-spacing: -1.3px;
  line-height: 1.5;

  &.-gray {
    color: $gray;
  }

  &.-white {
    color: $white;
  }
}

.title {
  color: $charcoal-grey;
  font-family: $font-family-2;
  line-height: 1.5;

  &.-big {
    font-size: $font-size-huge;
  }
}

.-light {
  font-weight: $font-weight-light;
}

.-bold {
  font-weight: $font-weight-bold;
}

.-center {
  text-align: center;
}
