html, body {
  margin: 0;
}

body {
  font-family: sans-serif;
  overflow-y: hidden;
}

.section {
  position: absolute;
}

#nav {
  height: 56px;
  width: 100%;
}

#map {
  height: calc(100% - 108px);
  top: 56px;
  width: 320px;
}

#sankey {
  height: calc(100% - 108px);
  left: 320px;
  top:56px;
  width: calc(100% - 250px);
}


#timeline {
  bottom: 0;
  height: 56px;
  width: 100%;
}

#chord {
  display: none;
}
