$someVar: orange;

.sankey-bg {
  width: 100%;
  height: 100%;
  fill: white;
}

.sankey-node {
  cursor: pointer;
}

.sankey-node-rect {
  fill: white;
  stroke: black;
  stroke-width: .5px;
}

.sankey-node-label {
  font-size: 12px;
  text-anchor: middle;
  text-transform: capitalize;
}

.sankey-link {
  fill: none;
}

.sankey-clicked-links .sankey-link {
  stroke: $someVar;
  opacity: .5;

}
.sankey-highlighted-links .sankey-link {
  opacity: 0.2;
  stroke: red;
}
.sankey-state-links .sankey-link {
  opacity: 0.2;
  stroke: black;
}
